{{#if show}}
  <ModalDialog @onClose="toggleModal" @translucentOverlay={{false}}>
    <form style='width: 600px;'>
      <div class='form-group row'>
        <label class='col-sm-3 col-form-label' for='msg-to'>Recipient:</label>
        <div class="col-sm-9">
          <Input @id="msg-to" class="form-control" @type="text" @value={{to}} />
        </div>
      </div>

      <div class='form-group row'>
        <label class='col-sm-3 col-form-label' for='msg-subject'>Subject:</label>
        <div class="col-sm-9">
          <Input @id="msg-subject" class="form-control" @type="text" @value={{subject}} />
        </div>
      </div>

      <div class='form-group'>
        <label for='msg-text'>Message:</label>
        <Textarea @id="msg-text" class="form-control" @value={{message}} @rows="10" />
      </div>
    </form>

    <button class='btn btn-primary btm-sm' {{action 'cancel'}}>Cancel</button>
    <button class='btn btn-primary btm-sm' {{action 'send'}}>Send</button>
  </ModalDialog>
{{/if}}
