  <nav class="navbar navbar-light navbar-expand-md w-100" style="background: white;" id="myHeader">
    <div class={{if fullWidth 'container-fluid' 'container'}}>
      <div class="col-xs-12" style="width:100%;">
        <button class="navbar-toggler text-center border-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav" style="width:100%">
            <li class="nav-item">{{#link-to 'dashboard' class='nav-link pl-0 ml-0'}}Dashboard{{/link-to}}</li>
            {{#if hasAUser}}
              <li class="nav-item">{{#link-to 'grants' class="nav-link"}}Grants{{/link-to}}</li>
              <li class="nav-item">{{#link-to 'submissions' class="nav-link"}}Submissions{{/link-to}}</li>
            {{/if}}
            <li class="nav-item">
              <a class="nav-link" href="{{assetsUri}}about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{assetsUri}}contact.html">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{assetsUri}}faq.html?anchor">FAQ</a>
            </li>
            <li class="nav-item dropdown ml-auto">
              <a class="nav-link accountInfo pr-1" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="pr-1">{{gravatar-image email=currentUser.user.email
                  title=currentUser.user.email
                  alt=currentUser.user.email
                  defaultImage='identicon'
                  class='img-avatar'
                  size=30
                  retina=true}}
                </span>
                {{currentUser.user.displayName}}
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                  <strong>Account</strong>
                </div>
                <div class="divider"></div>
                <a class="dropdown-item" href="/logout"  ><i class="fa fa-lock"></i>Logout</a>
              </div>
            </li>
          </ul>
        </div>
    </div>
  </div>
</nav>
