  <nav class="navbar navbar-light navbar-expand-md" style="background: white;" id="myHeader">
    <div class="container">
      <button class="navbar-toggler text-center border-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav" style="width:100%">
        <li class="nav-item">{{#link-to 'dashboard' class='nav-link pl-0'}}Home{{/link-to}}</li>
        <li class="nav-item">{{#link-to 'grants' class="nav-link"}}Grants{{/link-to}}</li>
        <li class="nav-item">{{#link-to 'submissions' class="nav-link"}}Submissions{{/link-to}}</li>
        <li class="nav-item">{{#link-to 'about' class='nav-link'}}About{{/link-to}}</li>
        <li class="nav-item pull-right">{{#link-to 'contact' class='nav-link borderless'}}Contact{{/link-to}}</li>

        {{#if session.isAuthenticated}}
          <li class="nav-item dropdown ml-auto">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="https://image.ibb.co/c8rxhx/bell_png_bell_icon_image_16624_512.png" style="width:20px" alt="admin@bootstrapmaster.com">
              <span class="badge badge-pill badge-danger">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-header text-center">
                <strong>Notifications</strong>
              </div>
              <a class="dropdown-item" href="#"><span class="badge badge-pill badge-danger">1</span>submission</a>
              <a class="dropdown-item" href="#"><span class="badge badge-pill badge-danger">1</span>submission</a>
              <a class="dropdown-item" href="#"><span class="badge badge-pill badge-danger"></span>Change requirements</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              {{gravatar-image email=currentUser.user.email
                title=currentUser.user.email
                alt=currentUser.user.email
                defaultImage='identicon'
                class='img-avatar'
                size=30
                retina=true}}
              {{currentUser.user.firstName}} {{currentUser.user.lastName}} ({{currentUser.user.role}})
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-header text-center">
                <strong>Account</strong>
              </div>
              <div class="divider"></div>
              <a class="dropdown-item" href="#"  {{action 'invalidateSession'}}><i class="fa fa-lock"></i>Logout</a>
            </div>
          </li>
        {{else}}
        <li class="nav-item dropdown ml-auto">
          {{#link-to "login" class="dropdown-item btn btn-primary"}}<i class="fa fa-lock"></i>Login{{/link-to}}
        </li>
        {{/if}}
      </ul>
    </div>
    </div>
  </nav>
