<div class="row">
  <div class="card w-100 my-2">
    <div class="card-body">
      {{#if (eq policy.repository.name "JScholarship")}}
        <h4 class="card-title"><a href="#">{{policy.title}}</a></h4>
        <h6 class="card-subtitle">Expects deposit into an open access repository</h6>
      {{else}}
        <h4 class="card-title">
          <a href="#">{{policy.title}} <small>for {{policy.repository.name}}.</small></a>
        </h4>
        <h6 class="card-subtitle">Requires deposit into {{policy.repository.name}}</h6>
      {{/if}}
      <p class="card-text mt-2">
        {{policy.description}}
        {{#if policy.url}}
          <br><br> For more information, see their official policy below.
          <br><a href= {{policy.url}} target="_blank">{{policy.url}}</a>
        {{/if}}

        <br><br>
        {{#if (or (eq policy.title 'National Institute of Health Public Access Policy') (eq policy.title 'NIH'))}}
          {{#if journal.isMethodA}}
            <div class="alert alert-success">
              The journal you published in participates in the PMC Method A program, and will submit the published article to PMC on your behalf.
              <em>You do not need to submit a manuscript to NIHMS as a part of this
              process.</em>
            </div>
          {{else}}
            <div class="alert alert-info">
              <p>Some journals would submit your article to PMC on your behalf, for a fee. Specific arrangements would be required. Please indicate below whether or not you have made an arrangement with the publisher to have your article deposited by your
                journal/publisher.
              </p>
              {{#if nihAndNotMethodAJournal}}
                {{radio-button value=true name='removeNIHDeposit' checked=model.newSubmission.removeNIHDeposit}}
                I have made (or intend to make) an arrangement with the publisher to
                deposit my article directly to PMC. (You will not need to submit your
                manuscript to NIHMS as part of this process.)
                <br>
                {{radio-button value=false name='removeNIHDeposit' checked=model.newSubmission.removeNIHDeposit}}
                I will not make an arrangement with the publisher to deposit my article
                directly to PMC. (You will need to submit your manuscript to NIHMS as
                part of this process.)
              {{/if}}
            </div>
          {{/if}}
        {{/if}}
      </p>
    </div>
  </div>
</div>
