<div class="row">
  <div class="card w-100 my-2">
    <div class="card-body">
      <h4 class="card-title">
        <a href="#">{{policy.title}} <small>for {{policy.repository.name}}.</small></a>
      </h4>
      {{#if (eq policy.repository.name "JScholarship")}}
        <h6>Expects deposit into an open access repository</h6>
      {{else}}
        <h6 class="card-subtitle">Requires deposit into {{policy.repository.name}}</h6>
      {{/if}}
      <p class="card-text">
        {{policy.description}}
        {{#if policy.url}}
          <br><br> For more information, see their official policy below.
          <br><a href= {{policy.url}}>{{policy.url}}</a>
        {{/if}}
        <br><br>
      </p>
    </div>
  </div>
</div>
