<style>
  ul { padding-left: 16px; }
</style>
{{#if repoCopy.externalIds}}
  <ul class="">
  {{#if repoCopy.accessUrl}}
    {{#each repoCopy.externalIds as |externalIds|}}
    <li><a href="{{repoCopy.accessUrl}}" target="_blank">{{externalIds}}</a></li>
    {{/each}}
  {{else}}
    <ul class="">
    {{#each repoCopy.externalIds as |externalIds|}}
      <li>{{externalIds}}</li>
    {{/each}}
    </ul>
  {{/if}}
  </ul>
{{else}}
  <span class="nodata-placeholder">Manuscript ID(s) are not yet available</span>
{{/if}}