<style>
  .fas {
    display: inline;
    font-size: 0.8em;
    opacity: 0.9;
    width: 15%;
  }
  .not-started>.fa-circle {
    color: #c8ced3;
  }
  .Complete>.fa-circle, .Complete .fa-info-circle{
    color: #4dbd74;
  }
  .See.details>.fa-circle {
    color: #ffc107;
  }
  .stalled>.fa-circle {
    color: #f86c6b;
  }
</style>

<div class="text-left">
  <span class="status {{status}} pr-1">
    {{#if (eq status "Complete")}}
      <span tooltip-position="left" tooltip="All target repositories have received a copy of the Submission and verified that it is approved for publication">
        <i class="fas fa-info-circle"></i> {{status}}
      </span>
    {{/if}}
    {{#if (eq status "Manuscript expected")}}
      <span tooltip-position="left" tooltip="Your funder is aware of this publication and is expecting the deposit of your manuscript.">
        <i class="fas fa-info-circle"></i> {{status}}
      </span>
    {{/if}}
    {{#if (eq status "Submitted")}}
      <span tooltip-position="left" tooltip="This submission has either been sent to all target repositories, or is in the queue and will be submitted shortly.">
        <i class="fas fa-info-circle"></i> {{status}}
      </span>
    {{/if}}
    {{#if (eq status "See details")}}
      {{#link-to "submissions.detail" record.id}}
        <i class="fas fa-circle"></i> {{status}}
      {{/link-to}}
    {{/if}}
  </span>
</div>
