 <div class="card ">
   <div class="card-body p-2">
     <div class="list-group">
       <div {{action (mut step) 1}} class="{{if (eq step 1) 'active'}} list-group-item list-group-item-action flex-column align-items-start">
         <div class="d-flex w-100 justify-content-between">
           <h5 class="mb-1 font-weight-light">Basics</h5>
         </div>
       </div>
     </div>
   </div>

   <div class="card-body p-2">
     <div class="list-group">
       <div {{action (mut step) 2}} class="{{if (eq step 2) 'active'}} list-group-item list-group-item-action flex-column align-items-start">
         <div class="d-flex w-100 justify-content-between">
           <h5 class="mb-1 font-weight-light">Grants</h5>
         </div>
       </div>
     </div>
   </div>

   <div class="card-body p-2">
     <div class="list-group">
       <div {{action (mut step) 3}} class="{{if (eq step 3) 'active'}} list-group-item list-group-item-action flex-column align-items-start">
         <div class="d-flex w-100 justify-content-between">
           <h5 class="mb-1 font-weight-light">Repositories</h5>
         </div>
       </div>
     </div>
   </div>

   <div class="card-body p-2">
     <div class="list-group">
       <div {{action (mut step) 4}} class="{{if (eq step 4) 'active'}} list-group-item list-group-item-action flex-column align-items-start">
         <div class="d-flex w-100 justify-content-between">
           <h5 class="mb-1 font-weight-light">Policies</h5>
         </div>
       </div>
     </div>
   </div>

   <div class="card-body p-2">
     <div class="list-group">
       <div {{action (mut step) 5}} class="{{if (eq step 5) 'active'}} list-group-item list-group-item-action flex-column align-items-start">
         <div class="d-flex w-100 justify-content-between">
           <h5 class="mb-1 font-weight-light">Metadata</h5>
         </div>
       </div>
     </div>
   </div>

   <div class="card-body p-2">
     <div class="list-group">
       <div {{action (mut step) 6}} class="{{if (eq step 6) 'active'}} list-group-item list-group-item-action flex-column align-items-start">
         <div class="d-flex w-100 justify-content-between">
           <h5 class="mb-1 font-weight-light">Files</h5>
         </div>
       </div>
     </div>
   </div>

   <div class="card-body p-2">
     <div class="list-group">
       <div {{action (mut step) 7}} class="{{if (eq step 7) 'active'}} list-group-item list-group-item-action flex-column align-items-start">
         <div class="d-flex w-100 justify-content-between">
           <h5 class="mb-1 font-weight-light">Review</h5>
         </div>
       </div>
     </div>
   </div>
 </div>
