<div style="min-width:150px">
{{#each (search-associated 'repositoryCopy' 'publication' (get record 'publication.id')) as |repositoryCopy index|}}
  {{#if repositoryCopy.externalIds}}
    {{if index ', '}}
    {{#if repositoryCopy.accessUrl}}
    <ul class="repoid-cell">
      {{#each repositoryCopy.externalIds as |externalIds|}}
        <a href="{{repositoryCopy.accessUrl}}" target="_blank">
          <li title="{{externalIds}}">{{externalIds}}</li>
        </a>
      {{/each}}
    </ul>
    {{else}}
      <ul class="repoid-cell">
        {{#each repositoryCopy.externalIds as |externalIds|}}
          <a href="{{repositoryCopy.accessUrl}}" target="_blank">
            <li title="{{externalIds}}">{{externalIds}}</li>
          </a>
        {{/each}}
      </ul>
    {{/if}}
  {{else}}
    <span class="nodata-placeholder">Not available</span>
  {{/if}}
{{else}}
  <span class="nodata-placeholder">Not available</span>
{{/each}}
</div>
