<style>
  .fas {
    font-size: 0.8em;
    opacity: 0.9;
  }
  .not-started>.fa-circle {
    color: #c8ced3;
  }
  .accepted>.fa-circle {
    color: #4dbd74;
  }
  .in-progress>.fa-circle {
    color: #ffc107;
  }
  .stalled>.fa-circle {
    color: #f86c6b;
  }
</style>

<div class="wrapper text-left">
  <span class="status {{record.aggregatedDepositStatus}} pr-1" style="width:20%;">
    {{#if (eq status "Accepted")}}<i class="fas fa-circle"></i> {{status}}{{/if}}
    {{#if (eq status "In Progress")}}<i class="fas fa-circle"></i> {{status}}{{/if}}
    {{#if (eq status "Stalled")}}<i class="fas fa-circle"></i> {{status}} (<a href="#">?</a>){{/if}}
    {{#if (eq status "Not Started")}}<i class="fas fa-circle"></i> {{status}}{{/if}}

  </span>
</div>
