<table class="table">
  <thead>
    <tr>
      <th>Award Number</th>
      <th>Project name (funding period)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each grants as |grant|}}
      <tr class="pr-0">
        <td class="awardnum-column">
          {{#link-to "grants.detail" grant class="text-nowrap" target="_blank"}}{{grant.awardNumber}}{{/link-to}}
        </td>
        <td class="projectname-date-column">{{grant.projectName}} ({{ format-date grant.startDate }} -  {{ format-date grant.endDate }})</td>
        <td class="pr-0 mr-0">
          {{#if remove}}
            <span class="btn btn-outline-danger pull-right" onclick= {{action remove grant}}>Remove</span>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
