{{#each (search-associated 'repositoryCopy' 'publication' (get record 'publication.id')) as |repositoryCopy index|}}
  {{if index ', '}}
  {{#if repositoryCopy.accessUrl}}
    <a href="{{repositoryCopy.accessUrl}}" target="_blank">
      {{repositoryCopy.externalIds}}
    </a>
  {{else}}
    {{#if repositoryCopy.externalIds}}
      {{repositoryCopy.externalIds}}
    {{else}}
    {{/if}}
  {{/if}}
{{/each}}
