<div style="min-width:150px">
{{#each (search-associated 'repositoryCopy' 'publication' (get record 'publication.id')) as |repositoryCopy index|}}
  {{#if repositoryCopy.externalIds}}
    {{if index ', '}}
    {{#if repositoryCopy.accessUrl}}
      <a href="{{repositoryCopy.accessUrl}}" target="_blank">
        <ul class="repoid-cell">
        {{#each repositoryCopy.externalIds as |moo|}}
          <li>{{moo}}</li>
        {{/each}}
        </ul>
      </a>
    {{else}}
      <ul class="repoid-cell">
      {{#each repositoryCopy.externalIds as |moo|}}
        <li>{{moo}}</li>
      {{/each}}
      </ul>
    {{/if}}
  {{else}}
    <span class="nodata-placeholder">Not available</span>
  {{/if}}
{{else}}
  <span class="nodata-placeholder">Not available</span>
{{/each}}
</div>
