{{#if record.isStub}}
  <LinkTo @route="submissions.new" @query={{hash submission=record.id}} class="btn btn-outline-primary">
    Finish submission
  </LinkTo>
{{else if (and (eq record.submissionStatus 'changes-requested') isSubmitter)}}
  <span style="min-width: 130px;display: block;"><i>Awaiting changes. No actions available.</i></span>
{{else if (and (eq record.submissionStatus 'changes-requested') isPreparer)}}
  <LinkTo @route="submissions.new" @query={{hash submission=record.id}} class="btn btn-outline-primary">
    Edit submission
  </LinkTo>
{{else if (and (eq record.submissionStatus 'approval-requested') isSubmitter)}}
  <LinkTo @route="submissions.detail" @model={{record.id}} class="btn btn-outline-primary">
    Review submission
  </LinkTo>
{{else if (and (eq record.submissionStatus 'approval-requested') isPreparer)}}
  <span style="min-width: 130px;display: block;"><i>Awaiting approval. No actions available.</i></span>
{{else if (and (eq record.submissionStatus 'needs-attention') isSubmitter)}}
  <LinkTo @route="submissions.detail" @model={{record.id}} class="btn btn-outline-primary">
    Review submission
  </LinkTo>
{{else if submissionIsDraft}}
  <LinkTo @route="submissions.new" @query={{hash submission=record.id}} class="btn btn-outline-primary w-100 mb-2">
    Edit
  </LinkTo>
  <a class="btn btn-outline-danger text-danger w-100 delete-button" {{action "deleteSubmission" record}}>
    Delete
  </a>
{{else}}
  <span style="min-width: 130px;display: block;"><i>No actions available.</i></span>
{{/if}}

