<style>
  .sub-status { padding-left:23px; }
  .fas {
    display: inline;
    font-size: 0.8em;
    opacity: 0.9;
  }
  .Complete>.fa-circle, .Complete .fa-info-circle {color: #4dbd74;}
  .stalled>.fa-circle {color: #f86c6b;}
</style>
<li>
  <p class="card-title">
    <strong>{{repo.name}} ({{#if repo.url}}<a href={{repo.url}}>{{repo.url}}</a>{{/if}})</strong>
  </p>
  <p class="card-text">
    <div class="sub-status">
      {{#if isExternalRepo}}
        <span>Deposit into {{repo.name}} was prompted.</span>
      {{else}}
        <span class="{{status}}" {{#if tooltip}}tooltip-position="left" tooltip="{{tooltip}}{{/if}}">
          {{#if tooltip}}<i class="fas fa-info-circle"></i> {{/if}}{{status}}
        </span>
        {{repocopy-display repoCopy=repoCopy}}
      {{/if}}
    </div>
  </p>
</li>