<p>
  PASS receives information about grants from the University grant management system, COEUS.
  If you could not find your grant in the below dropdown list, {{#link-to 'contact'}}please contact us{{/link-to}}.<br><br>
  Review/Provide information about the grant(s)/award(s) that funded this work.
  This information will help determine which public access policies are applicable to your work.
  <strong>If the work you’re about to submit was not supported by a grant, leave this
  page blank and go to the next step.</strong>
</p>
{{submission-funding-table grants=model.newSubmission.grants remove=(action "removeGrant")}}
<label>Add Grants:</label>
{{!-- {{find-grant id="grant"  addGrant=(action "addGrant")}} --}}
<select onchange={{action "addGrant" null}} class="form-control">
  <option value="" selected disabled hidden>Select from your grants</option>
  {{#each model.grants as |grantChoice|}}
    <option value={{grantChoice.id}} selected={{eq grant grantChoice}}>{{grantChoice.awardNumber}}: {{grantChoice.projectName}}</option>
  {{/each}}
</select>
<br>
<button class="btn btn-outline-primary" {{action "back"}}>Back</button>
<button class="btn btn-primary next pull-right" {{action "next"}}>Next</button>
{{yield}}
