<div class="container">
  <div class="row justify-content-center mb-2">
    <h2 class="font-weight-light col-12">New Submission</h2>
  </div>
  <div class="row">
    {{submission-nav submission=model step=step class="col-lg-12"}}
  </div>
  <div class="row justify-content-center">
    <main class="col-lg-12">
      {{#if (eq step 1)}}
        {{workflow-basics model=model doiInfo=doiInfo next=(action "next") back=(action "back")}}
      {{/if}}
      {{#if (eq step 2)}}
        {{workflow-grants model=model next=(action "next") back=(action "back")}}
      {{/if}}
      {{#if (eq step 3)}}
        {{workflow-policies model=model next=(action "next") back=(action "back")}}
      {{/if}}
      {{#if (eq step 4)}}
        {{workflow-repositories model=model next=(action "next") back=(action "back")}}
      {{/if}}
      {{#if (eq step 5)}}
        {{workflow-metadata model=model doiInfo=doiInfo step=step next=(action "next") back=(action "back")}}
      {{/if}}
      {{#if (eq step 6)}}
        {{workflow-files model=model next=(action "next") back=(action "back")}}
      {{/if}}
      {{#if (eq step 7)}}
        {{!--
          we just want to validate the last step because up untill this point its okay not to have all the data
          just let them fill out the forms then check that the data is right at the end
        --}}
        {{workflow-review model=model isValidated=isValidated validate=(action "validate") back=(action "back") submit=(action "submit")}}
      {{/if}}
    </main>
  </div>
</div>
