<div class="form-group row">
  <div class="col-md-12">
    <div class="list-group">
      <div href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"> {{model.title}}</h5>
          <small class="text-muted">{{model.submittedDate.date-time}}<br>{{model.creationDate.date-time}}</small>
        </div>
        <p class="mb-1">{{model.doi}}</p>
        <small class="text-muted">Please review the information below</small>


        <table class="table table-responsive-sm table-bordered">
          <thead>
            <tr>
              <th>Type</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Journal </td>
              <td>{{model.journal}} </td>
            </tr>
            <tr>
              <td>Grants</td>
              <td>{{model.grants}}</td>
            </tr>
            <tr>
              <td>Repositories</td>
              <td>{{model.repositories}}</td>
            </tr>
            <tr>
              <td>Metadata</td>
              <td>{{model.metadata}}</td>
            </tr>
            <tr>
              <td>Files</td>
              <td>
                {{#each model.files as |file|}}
                  {{file.name}}
                {{/each}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group row bg-gray-100 m-0">
        <label class="col-md-10 col-form-label">I have read and varify that the information for this submission is valid and that the informatin provided is not in violation of any grants</label>
        <div class="col-md-2 col-form-label">
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="checkbox" id="userVarify" {{action 'checkValidate' on="change"}}>
            <label class="form-check-label" for="userVarify">yes</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
