<style>
  .document-item::after {
    content: 'file';
    content: attr(filetype);
    text-align: right;
    padding: 2px;
    background-color: #536c79;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .fa-30 {
    font-size: 30px;
    margin-top: 4px;
  }

  .file-icon {
    padding: 4px;
    width: 100px;
    height: 125px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
  }

  .text-overflow {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: pre-wrap;
    height: 18px;
    margin-bottom: 3px;
  }

  table td {
    border: 1px dotted silver;
    word-break: break-all;
  }

  .min-review-type-width {
    min-width: 100px;
  }

  .manuscriptTag {
    position: absolute;
    top: 22px;
    right: 44%;
  }
</style>
<div class="form-group row">
  <div class="col-md-12">
    <div class="list-group">
      <div href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"> {{model.publication.title}}</h5>
          <small class="text-muted">{{model.newSubmission.dateSubmitted.date-time}}<br>{{model.newSubmission.dateCreated.date-time}}</small>
        </div>
        <p class="mb-1">{{model.publication.doi}}</p>
        <div class="text-muted">Please review the information below</div>
        <table class="table table-responsive-sm table-bordered w-100">
          <tbody>
            <tr>
              <td>
                Repositories<br>
                <small style="width:150px;">Submission into the following repositories are required according to applicable policies.</small>
              </td>
              <td>
                <ul>
                {{#each model.newSubmission.repositories as |repository|}}
                  <li>
                  {{#if (eq repository.name 'JScholarship')}}
                      {{#if didNotAgree}}
                          <div class="alert-danger" style="border-radius:2px; word-break:normal;  background-color: transparent;  border-color: transparent;">
                            {{repository.name}}<br>
                            <p class="text-danger text-left m-0"><strong>Warning:</strong> you added JScholarship as a repository but didn't agree to the deposit agreement,
                              so your submission will not be submitted to JScholarship. To fix this, go back and agree to the deposit agreement.</p>
                          </div>
                        {{else}}
                          {{repository.name}}
                      {{/if}}
                    {{else}}
                      {{repository.name}}
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
              </td>
            </tr>
            {{#if mustVisitEric}}
              <tr>
                <td class="text-nowrap text-center">External Submission Required
                  <br>
                  {{#if disableSubmit}}
                    <i class="fa fa-exclamation-triangle fa-2x mt-3 notice-triangle"></i>
                  {{/if}}
                </td>
                <td>
                  <label class="">
                    Please visit the following web portal to submit your manuscript directly. Metadata displayed above
                    could be used to aid in your submission progress.
                  </label>
                  <ul class="m-0">
                    <li>
                      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#externalSubmission">
                        https://eric.ed.gov/submit/
                      </button>
                    </li>
                  </ul>
                </td>
              </tr>
            {{/if}}
            <tr>
              <td>Grants</td>
              <td>
                <ul class="list-unstyled">
                  {{#each model.newSubmission.grants as |grant|}}
                    <li><b>{{grant.awardNumber}}</b> : {{grant.projectName}}</li>
                    <li><b>Funder</b> : {{grant.primaryFunder.name}}</li>
                    {{#if (not-eq grant model.newSubmission.grants.lastObject)}}
                      <hr>
                    {{/if}}
                  {{/each}}
                </ul>
              </td>
            </tr>
            <tr>
              <td>Details</td>
              <td>
                <ul class="list-unstyled">
                  {{#each-in metadataBlobNoKeys as |key data|}}
                    {{!-- TODO: Look in to making the ifs in to one if --}}
                    {{#if (not-eq key 'Embargo')}}
                      {{#if (not-eq key 'Under-embargo')}}
                        {{#if (not-eq key 'Embargo-end-date')}}
                          {{#if (not-eq key 'Agreement-to-embargo')}}
                            {{#if (not-eq key 'Submission')}}
                              {{#if (eq key 'Author(s)')}}
                                <li><b>{{key}}</b>:
                                  <ul>
                                    {{#each data as |author|}}
                                      <li>{{author.author}}{{#if author.orcid}} (<a href={{author.orcid}} target="_blank">{{author.orcid}}</a>){{/if}}</li>
                                    {{/each}}
                                  </ul>
                                </li>
                              {{else}}
                                {{#if (eq key 'URL')}}
                                <li><b>{{key}}</b>: <a href={{data}} target="_blank">{{data}}</a></li>
                                {{else}}
                                <li><b>{{key}}</b>: {{{data}}}</li>
                                {{/if}}
                              {{/if}}
                            {{/if}}
                          {{/if}}
                        {{/if}}
                      {{/if}}
                    {{/if}}
                  {{/each-in}}
                </ul>
              </td>
            </tr>


            <tr>
              <td>Files</td>
              <td>
                {{#each parsedFiles as |file|}}
                  <div class="card file-icon text-center">
                    {{!-- {{#if (eq model.newSubmission.files.isManuscript file.name)}}
                      <span>
                        <i class="fa fa-star manuscriptTag"></i>
                      </span>
                    {{/if}} --}}

                    <span class="small">{{file.fileRole}}</span><br>
                    <i class="fa fa-file-o fa-30"></i>
                    <p class="text-overflow">{{file.name}}</p>
                    <span class="document-item small" filetype="{{file.mimeType}}"></span>
                  </div>
                {{/each}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {{!-- <div class="form-group row bg-gray-100 m-0">
        <label class="col-md-10 col-form-label">I have read and verify that the information for this submission is valid and that the informatin provided is not in violation of any grants.</label>
        <div class="col-md-2 col-form-label">
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="checkbox" id="userVerify" {{action 'checkValidate' on="change" }}>
            <label class="form-check-label" for="userVerify">yes</label>
          </div>
        </div>
      </div> --}}
    </div>
  </div>
</div>
<button class="btn btn-outline-primary" {{action "back"}}>Back</button>
{{#if didNotAgree}}
  <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#didNotAgreeModal">Submit</button>
{{else}}
  <button class="btn btn-primary pull-right submit" {{action "submit"}}>Submit</button>
{{/if}}
<!-- Modal -->
<div class="modal fade" id="externalSubmission" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Notice!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You are being redirected to an external site. This will open in a new tab.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary mr-auto" data-dismiss="modal">Cancel</button>
        <a target="_blank" class="btn btn-primary pull-right" href="https://eric.ed.gov/submit/" {{action "clickEric" preventDefault=false}}>
          Redirect
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="didNotAgreeModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Notice!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You added JScholarship as a repository but didn't agree to the deposit agreement, so your submission will not be submitted to JScholarship. To fix this, go back to Johns Hopkins - JScholarship metadata form
and agree to the deposit agreement.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary mr-auto" {{action "agreeToDeposit"}} data-dismiss="modal">Agree to deposit</button>
        <a class="btn btn-primary pull-right" href="https://eric.ed.gov/submit/" {{action "submit"}} data-dismiss="modal">
          Submit
        </a>
      </div>
    </div>
  </div>
</div>
