<style>
  .table-text {
    display: inline-block;
    overflow: hidden;
    white-space: pre-wrap;
    width: 200px;
  }
</style>
{{#each model.newSubmission.repositories  as |repo| }}
  {{#if (eq repo.name "PubMed Central")}}
    <p>
    <a href="https://www.ncbi.nlm.nih.gov/pmc/about/public-access/" target="_blank" >National Institutes of Health (NIH) and other PubMed Central-supported funding agencies</a> require funded authors to submit the Author's Accepted Manuscripts. For clarification on the difference between Author's Accepted Manuscript and Final Published Article, <a href="https://www.ncbi.nlm.nih.gov/pmc/about/authorms/" target="_blank" >please see here</a>.
    </p>
    <p>
      To ensure successful processing of your submission in NIH Manuscript Submission System, be sure to include all referenced tables, figures and supplemental files in your submission, in addition to the Author's Accepted Manuscript.
    </p>
  {{/if}}
{{/each}}
<p>Attach manuscript/article files to this submission.</p>
<div class="form-group row">
  <div class="col-md-12">
    <input type="file" id="file-multiple-input" multiple size="50" onchange= {{action "getFiles"}} class="text-gray-300" style="border-width:2px; cursor:pointer; border-style: dashed; padding:30px; width:100%">
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-responsive-sm table-sm">
      <thead>
        <tr class="text-center">
          <th>File Name</th>
          <th>File Role</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each files as |file|}}
          <tr>
            <td class="vertical-align-middle">
              {{file.name}}
            </td>
            <td class="text-center vertical-align-middle">
              <select onchange= {{action (mut file.fileRole) value="target.value"}}>
                <option value="supplement" selected={{eq file.fileRole "supplement"}}>Supplement</option>
                <option value="manuscript" selected={{eq file.fileRole "manuscript"}}>Manuscript</option>
                <option value="table" selected={{eq file.fileRole "table"}}>Table</option>
                <option value="figure" selected={{eq file.fileRole "figure"}}>Figure</option>
              </select>
            </td>
            <td class="vertical-align-middle">
              {{input  class="form-control file-description-width" value=file.description}}
            </td>
            <td class="text-center vertical-align-middle">
              <button type="button" class="btn btn-outline-danger" {{action 'removeFile' file}}>Remove</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <!--/.col-->
</div>
<!--/.row-->
<p><strong>Tip:</strong> Use the Control or the Shift key to select multiple files.</p>
<button class="btn btn-outline-primary" {{action "back"}}>Back</button>
<button class="btn btn-primary pull-right next"  {{action "next"}}>Next</button>
