
{{!-- {{#each schemas as || s }} --}}
  {{!-- {{#if schema.id === s.id}} --}}
    {{metadata-form  schemas=schemas schema=schema.schema title=schema.title description=schema.description}}
  {{!-- {{/if}} --}}
{{!-- {{#each}} --}}
  <button type="button" class="btn btn-primary" {{action 'previousForm'}} hidden={{previousFormButton}}>Previous Form</button>
  <button type="button" class="btn btn-primary pull-right" {{action 'nextForm'}} hidden={{nextFormButton}}>Next Form</button>

{{yield}}
