<style>

  .text-gray {
    color: gray;
  }

  .file {
    background-color: #fdfdfd;
    background-clip: border-box;
    border: 1px solid #dedede !important;
    border-radius: 1px !important;
    max-height: 50px;
    color: gray;
  }

  .line-height-50 {
    line-height: 50px;
    overflow: hidden;
  }

  .line-height-35 {
    line-height: 35px;
  }

  .zoom-in {
    cursor: zoom-in;
  }


  table td {
    border: 1px dotted silver;
    word-break: break-all;
  }

  .min-review-type-width {
    min-width: 100px;
  }

  .max-width {
    max-width: 300px !important;
    white-space: nowrap;
  }
  .fa-30 {
    font-size: 30px!important;
    margin-top: 4px;
  }

  tbody.striped tr:nth-of-type(odd) {
    background-color: white;
  }
  tbody.striped tr {
    background: #fdfdfd;
  }

</style>
<div class="form-group row">
  <div class="col-md-12">
    <div class="list-group">
      <div href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"> {{model.publication.title}}</h5>
          <small class="text-muted">{{model.newSubmission.dateSubmitted.date-time}}<br>{{model.newSubmission.dateCreated.date-time}}</small>
        </div>
        <p class="mb-1">{{model.publication.doi}}</p>
        <div class="text-muted">Please review the information below</div>
        <table class="table table-responsive-sm table-bordered w-100">
          <tbody>
            <tr>
              <td class="max-width">
                Repositories
                <span tooltip-position="right" tooltip="Submission into these repositories is required according to the respective policies.">
                  <i class="fas fa-info-circle"></i>
                </span>
              </td>
              <td>
                <ul>
                  {{#each model.newSubmission.repositories as |repository|}}
                    <li>
                      {{#if (eq repository.name 'JScholarship')}}
                        {{#if didNotAgree}}
                          <div class="alert-danger" style="border-radius:2px; word-break:normal;  background-color: transparent;  border-color: transparent;">
                            {{repository.name}}<br>
                            <p class="text-danger text-left m-0"><strong>Warning:</strong> you added JScholarship as a repository but didn't agree to the deposit agreement, so your submission will not be submitted to JScholarship. To fix this, go back and agree to the deposit agreement.</p>
                          </div>
                        {{else}}
                          {{repository.name}}
                        {{/if}}
                      {{else}}
                        {{repository.name}}
                      {{/if}}
                    </li>
                  {{/each}}
                </ul>
              </td>
            </tr>
            {{#if mustVisitEric}}
              <tr>
                <td class="text-nowrap text-center" id="externalSubmission">External Submission Required
                  <br>
                  {{#if disableSubmit}}
                    <i class="fa fa-exclamation-triangle fa-2x mt-3 notice-triangle"></i>
                  {{/if}}
                </td>
                <td>
                  <label class="">
                    Please visit the following web portal to submit your manuscript directly. Metadata displayed above
                    could be used to aid in your submission progress.
                  </label>
                  <ul class="m-0">
                    <li>
                      <button type="button" class="btn btn-link" {{action "openEricAlert"}}>
                        https://eric.ed.gov/submit/
                      </button>
                    </li>
                  </ul>
                </td>
              </tr>
            {{/if}}
            <tr>
              <td>Grants</td>
              <td>
                <ul class="list-unstyled">
                  {{#each model.newSubmission.grants as |grant|}}
                    <li><b>{{grant.awardNumber}}</b> : {{grant.projectName}}</li>
                    <li><b>Funder</b> : {{grant.primaryFunder.name}}</li>
                    {{#if (not-eq grant model.newSubmission.grants.lastObject)}}
                      <hr>
                    {{/if}}
                  {{/each}}
                </ul>
              </td>
            </tr>
            <tr>
              <td>Details</td>
              <td>
                <ul class="list-unstyled">
                  {{#each-in metadataBlobNoKeys as |key data|}}
                    {{!-- TODO: Look in to making the ifs in to one if --}}
                    {{#if (not-eq key 'Embargo')}}
                      {{#if (not-eq key 'Under-embargo')}}
                        {{#if (not-eq key 'Embargo-end-date')}}
                          {{#if (not-eq key 'Agreement-to-embargo')}}
                            {{#if (not-eq key 'Submission')}}
                              {{#if (eq key 'Author(s)')}}
                                <li><b>{{key}}</b>:
                                  <ul>
                                    {{#each data as |author|}}
                                      <li>{{author.author}}
                                        {{#if author.orcid}} (<a href= {{author.orcid}} target="_blank">{{author.orcid}}</a>){{/if}}
                                      </li>
                                    {{/each}}
                                  </ul>
                                </li>
                              {{else}}
                                {{#if (eq key 'URL')}}
                                  <li><b>{{key}}</b>: <a href= {{data}} target="_blank">{{data}}</a></li>
                                {{else}}
                                  <li><b>{{key}}</b>: {{{data}}}</li>
                                {{/if}}
                              {{/if}}
                            {{/if}}
                          {{/if}}
                        {{/if}}
                      {{/if}}
                    {{/if}}
                  {{/each-in}}
                </ul>
              </td>
            </tr>

            <tr>
              <td>Files</td>
              <td>
                <table style="min-width:500px; width:100%;" >
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col" class="font-weight-light">Name</th>
                      <th scope="col" class="font-weight-light">Type</th>
                      <th scope="col" class="font-weight-light">Description</th>
                    </tr>
                  </thead>
                  <tbody class="striped">
                    {{#each parsedFiles as |file|}}
                      <tr>
                        <td data-label="icon">
                          {{#if (eq file.mimeType 'png')}}
                            <i class="fas fa-file-image fa-30 line-height-35 text-gray"></i> {{else if (eq file.mimeType 'vnd.openxmlformats-officedocument.presentationml.presentation')}}
                            <i class="fas fa-file-powerpoint fa-30 line-height-35 text-gray"></i> {{else if (eq file.mimeType 'msword')}}
                            <i class="fas fa-file-word fa-30 line-height-35 text-gray"></i> {{else if (eq file.mimeType 'pdf')}}
                            <i class="fas fa-file-pdf fa-30 line-height-35 text-gray"></i>
                          {{else}}
                            <i class="far fa-file fa-30 line-height-35 text-gray"></i>
                          {{/if}}
                        </td>
                        <td data-label="name" style="min-width:200px;">
                          <a href= {{file.uri}}>{{file.name}}</a>
                        </td>
                        <td data-label="type" class="text-nowrap">
                          {{file.fileRole}}
                        </td>
                        <td data-label="description">
                          {{file.description}}
                        </td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {{!-- <div class="form-group row bg-gray-100 m-0">
        <label class="col-md-10 col-form-label">I have read and verify that the information for this submission is valid and that the informatin provided is not in violation of any grants.</label>
        <div class="col-md-2 col-form-label">
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="checkbox" id="userVerify" {{action 'checkValidate' on="change" }}>
            <label class="form-check-label" for="userVerify">yes</label>
          </div>
        </div>
      </div> --}}
    </div>
  </div>
</div>
<button class="btn btn-outline-primary" {{action "back"}}>Back</button>
<button class="btn btn-primary pull-right submit" {{action "submit"}}>Submit</button>
