{{yield}}
{{#unless (or model.newSubmission.id model.preLoadedGrant)}}
<div class="py-0 mt-2 alert alert-secondary" id="on-behalf-of-block">
  <p class="my-2 lead">I'm creating this submission on behalf of:
    <input type="radio" checked={{ not model.newSubmission.hasNewProxy }} onchange={{action 'onBehalfOfToggled' false}}/> Myself
    <input type="radio" checked={{ model.newSubmission.hasNewProxy }} onchange={{action 'onBehalfOfToggled' true}}/> Someone else
  </p>
</div>
{{#if model.newSubmission.hasNewProxy}}
<div class="alert alert-info">
  <p>When a submission is created on someone's behalf, PASS will contact that person to acquire their approval before
    finalizing the submission and sending it to its corresponding repositories.</p>
  <p class="mb-0">Please indicate on behalf of whom this submission is being completed:</p>
    <div class="input-group pb-3">
      {{input enter='searchForUsers' value=modalSearchInput class="form-control"}}
      <span class="input-group-btn">
        <button class="btn btn-primary" {{action 'searchForUsers'}} type="button">Search</button>
      </span>
    </div>
    {{#if model.newSubmission.submitter.id}}
    <p>
      Currently selected submitter:<br>{{model.newSubmission.submitter.firstName}} {{model.newSubmission.submitter.lastName}}
       (<a href="mailto:{{model.newSubmission.submitter.email}}">{{model.newSubmission.submitter.email}}</a>)<br>(<a href="#" {{action 'removeCurrentSubmitter'}}>Remove submitter</a>)
    </p>
    {{/if}}
  <p class="mb-0"><strong>If the person you are submitting for does not have an account with PASS</strong>, please
    provide their email address and name so we may notify them:
  </p>
  <div class="form-inline">
  {{input class=(concat "mt-1 mb-3 form-control w-50 " validEmail) keyUp=(action "validateEmail") disabled=model.newSubmission.submitter.id value=inputSubmitterEmail placeholder="Email address"}}
  {{input class="mt-1 mb-3 form-control w-50" disabled=model.newSubmission.submitter.id value=model.newSubmission.submitterName placeholder="Name"}}
  </div>
</div>
{{/if}}
{{/unless}}
<p class="lead text-muted">
  If the manuscript/article you are submitting has been assigned a Digital
  Object Identifier (DOI), please provide it now to pre-populate submission
  forms.
</p>
<div class="form-group">
  <label>DOI</label>
  <p class="help-block">
    <i class="glyphicon glyphicon-info-sign"></i>
    <i>
      A digital object identifier (DOI) is a unique alphanumeric string assigned to identify content and provide a
      persistent link to its location on the Internet. The publisher assigns a DOI some time after your manuscript is
      accepted for publication. The DOI is typically located on the first page of the electronic journal article, near
      the copyright notice. The DOI can also be found on the database landing page for the article.
    </i>
  </p>

  {{!-- <div style="color:red">
    <div style="font-style: italic">no pmc:</div>10.1103/PhysRevFluids.1.073604
  </div>
  <div style="color:red">
    <div style="font-style: italic">method A:</div>10.1021/acsmedchemlett.7b00397
  </div>
  <div style="color:red">
    <div style="font-style: italic">method B:</div>10.1039/c7fo01251a
  </div> --}}
  {{input
  class=validDOI
  value=model.publication.doi
  keyUp=(action "lookupDOI")
  mouseUp=(action "lookupDOI")
  mouseLeave=(action "lookupDOI")
  id="doi"
  placeholder="Leave blank if your manuscript or article has not yet been assigned a DOI"
  readonly=model.newSubmission.id
  }}
  <div class="text-danger">
    {{if (eq validDOI 2) 'Please provide a valid DOI'}}
  </div>
</div>
<div class="form-group">
  <label>Manuscript/Article Title <span class="text-muted">(required)</span></label>
  {{textarea value=model.publication.title cols="100%" rows="2" class=validTitle placeholder="Manuscript/Article Title"
  keyUp=(action "validateTitle") id="title" readonly=isValidDOI }}
</div>

<div class="form-group">
  <div>
    <label>Journal <span class="text-muted">(required)</span></label>
    {{#link-to "contact" class='btn btn-link pull-right pr-0'}}Can't find your journal? Contact us to add
    it.{{/link-to}}
  </div>
  <div class="w-100">
    {{#unless isValidDOI}}
    {{find-journal id="journal" selectJournal=(action "selectJournal") value=model.publication.journal
    isValidDOI=isValidDOI}}
    {{else}}
    <input type="text" class={{validTitle}} value={{await (get model.publication.journal 'journalName')}} readonly>
    {{/unless}}
  </div>
</div>
{{#link-to 'submissions.index' class="btn btn-outline-primary"}}Back{{/link-to}}
<button class="btn btn-primary pull-right next" {{action "validateNext"}}>Next</button>
{{#if isShowingModal}}
{{#modal-dialog
   translucentOverlay=true
   onClose="toggleModal"
   close="toggleModal"
   tetherTarget='#on-behalf-of-block'
   attachment='top center'
   targetAttachment='top center'
   containerClass='user-search-modal'}}
  {{workflow-basics-user-search
    model=model
    isShowingModal=isShowingModal
    pageSize=modalPageSize
    totalResults=modalTotalResults
    searchInput=modalSearchInput
    users=users}}
{{/modal-dialog}}
{{/if}}
