
<div class="container">
  <div class="row justify-content-center mb-2">
    <h2 class="font-weight-light col-12">Submission details. Step {{localSubmission.step}}</h2>
  </div>
  <div class="row justify-content-center">
      {{submission-nav submission=model step=step class="col-lg-4 d-md-down-none bg-faded border border-left-0 border-top-0 border-bottom-0 border-primary "}}
      <main class="col-lg-8 col-md-12">
        {{#if (eq localSubmission.step 1)}}
          {{workflow-basics model=model doiInfo=doiInfo next=(action "next") back=(action "back")}}
        {{/if}}
        {{#if (eq localSubmission.step 2)}}
          {{workflow-grants model=model next=(action "next") back=(action "back")}}
        {{/if}}
        {{#if (eq localSubmission.step 3)}}
          {{workflow-repositories model=model next=(action "next") back=(action "back")}}
        {{/if}}
        {{#if (eq localSubmission.step 4)}}
          {{workflow-policies model=model next=(action "next") back=(action "back")}}
        {{/if}}
        {{#if (eq localSubmission.step 5)}}
          {{workflow-metadata model=model doiInfo=doiInfo  next=(action "next") back=(action "back")}}
        {{/if}}
        {{#if (eq localSubmission.step 6)}}
          {{workflow-files model=model next=(action "next") back=(action "back")}}
        {{/if}}
        {{#if (eq localSubmission.step 7)}}
          {{!--
          we just want to validate the last step because up untill this point its okay not to have all the data
          just let them fill out the forms then check that the data is right at the end
           --}}
        {{workflow-review model=model isValidated=isValidated validate=(action "validate")  next=(action "next") back=(action "back") submit=(action "submit")}}
        {{/if}}
      </main>
  </div>
</div>
