<p class="lead text-muted">
  PASS receives information about grants from the University grant management system, COEUS.
  If you could not find your grant in the below dropdown list, {{#link-to "contact" target="_blank"}}please contact us{{/link-to}}.<br><br>
  Review/provide information about the grant(s)/award(s) that funded this work.
  This information will help determine which public access policies are applicable to your work.
  <strong>If the work you’re about to submit was not supported by a grant, leave this
  page blank and go to the next step.</strong>
</p>
{{submission-funding-table grants=model.newSubmission.grants remove=(action "removeGrant")}}
<label>Add Grants:</label>
{{#if model.newSubmission.submitter.id}}
<select onchange={{action "addGrant" null}} class="form-control">
  <option value='default' selected disabled hidden>Select grants</option>
  {{#each filteredGrants as |grantChoice|}}
    <option value={{grantChoice.id}} selected={{eq grant grantChoice}}>{{grantChoice.awardNumber}}: {{grantChoice.projectName}} ({{format-date grantChoice.startDate}} - {{format-date grantChoice.endDate}})</option>
  {{/each}}
</select>
{{else}}
<p>Because the person on behalf of whom who you're submitting is not yet in the system, that person has no grants attached to their account. Please click Next to continue.</p>
{{/if}}
<br>
<button class="btn btn-outline-primary" {{action "back"}}>Back</button>
<button class="btn btn-primary next pull-right" {{action "next"}}>Next</button>
{{yield}}
