<div style="min-width:600px;min-height:300px;" class="pt-4 pl-4 pr-4">
  <button style="position:absolute;right:15px;top:15px;border:none;" class="btn btn-outline-primary" {{action 'toggleModal'}}>X</button>
  <div class="container">
    <div class="text-center">
    <h2>Search Users</h2>
    <p class="text-muted">Search by name or email and click on a user to assign them to the submitter role.</p>
    <div class="input-group pb-3">
      {{input value=searchInput class="form-control"}}
      <span class="input-group-btn">
        <button class="btn btn-primary" {{action 'searchForUsers' 0}} type="button">Search</button>
      </span>
    </div>
    </div>
    <h3 class="mb-4">Results</h3>
    {{#if filteredUsers}}
      <div class="row">
        {{#each filteredUsers as |user|}}
          <div class="col-6">
            <a href="#" {{action 'pickSubmitter' user}}>
              {{user.firstName}} {{user.lastName}} ({{user.email}})
            </a>
          </div>
        {{/each}}
      </div>
      {{else}}
      <p>No results found.</p>
    {{/if}}
    {{#if pages}}
    <ul class="pagination mt-4 mx-auto mb-0 pb-0" style="justify-content:center;">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {{#each pages as |p|}}
        <li><a href="#" {{action 'searchUsers' p}}>{{p}}</a></li>
      {{/each}}
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
    {{/if}}
  </div>
</div>