<div style="min-height:300px;" class="p-4">
  <button style="position:absolute;right:15px;top:15px;border:none;" class="btn btn-outline-primary" {{action toggleUserSearchModal}}>X</button>
  <div class="container">
    <h2>Search Users</h2>
    <p class="text-muted">Search by name or email and click on a user to assign them to the submitter role.</p>
    <div class="input-group pb-3">
      <Input @value={{searchInput}} @enter={{action "searchForUsers" 1}} class="form-control" />
      <span class="input-group-btn">
        <button id='search-for-users' class="btn btn-primary" {{action 'searchForUsers' 1}} type="button">Search</button>
      </span>
    </div>
    <h3 class="my-4">Results</h3>
    {{#if filteredUsers}}
      <div class="row user-search-results">
        {{#each filteredUsers as |user|}}
          <div class="col-6">
            <a href="#" {{action pickSubmitter user}}>
              {{user.firstName}} {{user.lastName}} {{#if user.email}}({{user.email}}){{/if}}
            </a>
          </div>
        {{/each}}
      </div>
      {{else}}
      <p>No results found.</p>
    {{/if}}
    {{#if moreThanOnePage }}
    <ul class="pagination mt-4 mx-auto mb-0 pb-0" style="justify-content:center;">
      {{#each pageNumbers as |p|}}
        {{#if (eq p currentPage)}}
          <li class="active"><a>{{p}}</a></li>
        {{else}}
          <li><a href="#" {{action 'searchForUsers' p}}>{{p}}</a></li>
        {{/if}}
      {{/each}}
    </ul>
    {{/if}}
  </div>
</div>