{{#if isShowing}}
<div class="container">
    <div class="row">
        <div class="col">
            {{yield this}}
        </div>
    </div>

    <div class="row mt-2">
        <div class="btn-toolbar ml-auto">
            {{#if back}}
            <button class="btn btn-primary btn-small mr-3 my-1" onclick={{action back}}>Back</button>
            {{/if}}
            {{#if cancel}}
            <button class="btn btn-primary btn-small mr-3 my-1" onclick={{action cancel}}>Cancel</button>
            {{/if}}
            {{#if save}}
            <button class="btn btn-primary btn-small mr-3 my-1" onclick={{action save}}>Save</button>
            {{/if}}
            <div class="btn-group" role="group" aria-label="Proceed button group">
                {{#if continue}}
                <button class="btn btn-primary btn-small my-1" onclick={{action continue}}>Save and Continue</button>
                {{/if}}
                {{#if next}}
                <button class="btn btn-primary btn-small my-1" onclick={{action next}}>Next</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{/if}}