<div id="submission-workflow-container">
  <div class="block-user-input text-center">
    <div class="lds-dual-ring mx-auto"></div>
  </div>
  <div class="row justify-content-center mb-2">
    <h2 class="font-weight-light col-12 mb-0">New Submission</h2>
    <div class="font-weight-light col-12" style="font-style:italic;">{{@publication.title}}</div>
  </div>
  <div class="row">
    <SubmissionNav
      @loadTab={{this.loadTab}}
      @updateCovidSubmission={{@updateCovidSubmission}}
      @submission={{@submission}}
    />
  </div>
  <div class="row justify-content-center">
    <main class="col-lg-12">
      {{yield}}
    </main>
  </div>

  {{#if (and @submissionEvents @submission.isProxySubmission)}}
    {{#if @submission.id}}
      <div class="alert alert-info mt-3">
        <h3 class="mt-3 mb-0">Comments</h3>
        <hr class="mt-0" />
        <CommentingBlock @submissionEvents={{@submissionEvents}} />
      </div>
    {{/if}}
  {{/if}}
</div>