{{! template-lint-disable no-triple-curlies }}
<ul class="list-unstyled">
  {{#each (await this.displayData) as |data|}}
    <li>
      {{#if data.isArray}}
        <span class="col-6">
          <b>{{data.label}}</b>
          <ul>
            {{#each data.value as |moo|}}
              <li>
                {{#each-in moo as |key val|}}
                  <span class="col-6"><b>{{key}}</b>: {{val}}</span>
                {{/each-in}}
              </li>
            {{/each}}
          </ul>
        </span>
      {{else}}
        <span class="col-6"><b>{{data.label}}</b>: {{{data.value}}}</span>
      {{/if}}
    </li>
  {{/each}}
</ul>
{{yield}}