{{! template-lint-disable no-action no-triple-curlies no-unknown-arguments-for-builtin-components require-button-type require-input-label simple-unless }}
{{yield}}
{{#unless (or @submission.id @preLoadedGrant)}}
  <div class="py-0 mt-2">
    <p class="my-2 lead">
      I'm creating this submission on behalf of:
      <label>
        <input type="radio" checked={{not this.isProxySubmission}} onchange={{action "proxyStatusToggled" false}} />
        Myself
      </label>
      <label>
        <input
          type="radio"
          checked={{this.isProxySubmission}}
          onchange={{action "proxyStatusToggled" true}}
          data-test-proxy-radio-button
        />
        Someone else
      </label>
    </p>
  </div>
  {{#if this.isProxySubmission}}
    <div id="proxy-input-block" class="p-4">
      <p>
        When a submission is created on someone's behalf, PASS will contact that person to acquire their approval before
        finalizing the submission and sending it to its corresponding repositories.
      </p>
      <p class="mb-0">
        Please indicate on behalf of whom this submission is being completed:
      </p>
      <div class="input-group pb-3">
        <Input
          aria-label="Proxy search input"
          @enter={{action "toggleUserSearchModal"}}
          @value={{this.userSearchTerm}}
          class="form-control"
          data-test-proxy-search-input
        />
        <span class="input-group-btn">
          <button
            id="search-for-users"
            class="btn btn-primary"
            type="button"
            data-test-proxy-user-search-button
            {{action "toggleUserSearchModal"}}
          >
            Search
          </button>
        </span>
      </div>
      {{#if @submission.submitter.id}}
        <p>
          Currently selected submitter:
          <br />{{@submission.submitter.firstName}}
          {{@submission.submitter.lastName}}
          (
          <a href="mailto:{{@submission.submitter.email}}">
            {{@submission.submitter.email}}
          </a>
          )
          <br />
          (
          <a href="#" {{action "changeSubmitter" this.isProxySubmission null}}>
            Remove submitter
          </a>
          )
        </p>
      {{/if}}
      <p class="mb-0">
        <strong>
          If the person you are submitting for does not have an account with PASS
        </strong>
        , please provide their email address and name so we may notify them:
      </p>
      <div class="form-inline">
        <Input
          aria-label="Proxy submitter email input"
          class={{concat "mt-1 mb-3 form-control w-50 " this.submitterEmailClass}}
          @key-up={{action @validateSubmitterEmail}}
          @disabled={{@submission.submitter.id}}
          @value={{this.inputSubmitterEmail}}
          placeholder="Email address"
          data-test-proxy-submitter-email-input
        />
        <Input
          aria-label="Proxy submitter name input"
          class="mt-1 mb-3 form-control w-50"
          @disabled={{@submission.submitter.id}}
          @value={{@submission.submitterName}}
          placeholder="Name"
          data-test-proxy-submitter-name-input
        />
      </div>
    </div>
  {{/if}}
{{/unless}}
<p class="lead text-muted">
  If the manuscript/article you are submitting has been assigned a Digital Object Identifier (DOI), please provide it
  now to pre-populate submission forms.
</p>
<div class="form-group">
  <label>
    DOI
  </label>
  <p class="help-block">
    <i class="glyphicon glyphicon-info-sign"></i>
    <i>
      A digital object identifier (DOI) is a unique alphanumeric string assigned to identify content and provide a
      persistent link to its location on the Internet. The publisher assigns a DOI some time after your manuscript is
      accepted for publication. The DOI is typically located on the first page of the electronic journal article, near
      the copyright notice. The DOI can also be found on the database landing page for the article.
    </i>
  </p>

  <Input
    id="doi"
    class={{this.doiClass}}
    placeholder="Leave blank if your manuscript or article has not yet been assigned a DOI"
    @value={{@publication.doi}}
    data-test-doi-input={{true}}
    {{on "input" (perform this.lookupDOI true)}}
  />
  <div class="text-danger">
    {{if (and @publication.doi (not this.isValidDOI)) "Please provide a valid DOI"}}
  </div>
  {{#if this.doiServiceError}}
    <div class="text-danger">
      {{{this.doiServiceError}}}
    </div>
  {{/if}}
</div>
<div class="form-group">
  <label>
    Manuscript/Article Title
    <span class="text-muted">
      (required)
    </span>
  </label>
  <Textarea
    class={{this.titleClass}}
    placeholder="Manuscript/Article Title"
    @value={{@publication.title}}
    cols="100%"
    rows="2"
    {{on "keyup" @validateTitle}}
    id="title"
    disabled={{this.isValidDOI}}
    data-test-article-title-text-area={{true}}
  />
</div>

<div class="form-group">
  <p class="lead text-muted">
    If you are an NIH-user, a journal selection is required to deposit into PMC. It is optional for all other users. If
    you do not see your journal listed, you can skip the journal selection and still use PASS to deposit into
    JScholarship.
  </p>
  <div>
    <label>
      Journal
    </label>
    {{#if this.contactUrl}}
      <a class="btn btn-link pull-right pr-0" href="{{this.contactUrl}}">
        Can't find your journal? Contact us to add it.
      </a>
    {{/if}}
  </div>
  <div class="w-100">
    {{#unless this.isValidDOI}}
      <FindJournal
        @id="journal"
        @selectJournal={{action "selectJournal"}}
        @value={{@publication.journal}}
        @journalClass={{this.journalClass}}
        @isValidDOI={{this.isValidDOI}}
        data-test-find-journal
      />
    {{else}}
      <input
        type="text"
        class="form-control"
        value={{@publication.journal.journalName}}
        disabled
        data-test-journal-name-input
      />
    {{/unless}}
  </div>
</div>
<LinkTo @route="submissions.index" class="btn btn-outline-primary">
  Back
</LinkTo>
<button class="btn btn-outline-danger ml-2" {{action "cancel"}}>
  Cancel
</button>
<button
  class="btn btn-primary pull-right next"
  data-test-workflow-basics-next
  {{on "click" (perform this.loadNext)}}
  disabled={{this.loadNext.isRunning}}
>
  Next
</button>
{{#if this.isShowingUserSearchModal}}
  <div class="user-search-modal">
    <ModalDialog
      @translucentOverlay={{true}}
      @attachment="top center"
      @targetAttachment="top center"
      @containerClass="user-search-modal"
    >
      <WorkflowBasicsUserSearch
        @toggleUserSearchModal={{this.toggleUserSearchModal}}
        @pickSubmitter={{this.pickSubmitter}}
        @searchInput={{this.userSearchTerm}}
      />
    </ModalDialog>
  </div>
{{/if}}