<nav
  id="header-navbar"
  class="navbar navbar-light navbar-fixed-top navbar-expand-md w-100"
  {{did-insert this.scrollToAnchor}}
  {{did-update this.scrollToAnchor}}
>
  <div class={{if @fullWidth "container-fluid" "container"}}>
    <div class="col-xs-12 w-100">
      <button
        class="navbar-toggler text-center border-none"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav w-75">
          <li class="nav-item">
            <LinkTo @route="dashboard" class="nav-link pl-0 ml-0">
              Dashboard
            </LinkTo>
          </li>
          {{#if this.hasAUser}}
            <li class="nav-item">
              <LinkTo @route="grants" class="nav-link" data-test-navbar-grants-link>
                Grants
              </LinkTo>
            </li>
            <li class="nav-item">
              <LinkTo @route="submissions" class="nav-link" data-test-navbar-submissions-link>
                Submissions
              </LinkTo>
            </li>
          {{/if}}
          {{#if this.aboutUrl}}
            <li class="nav-item">
              <a class="nav-link" href="{{this.aboutUrl}}">
                About
              </a>
            </li>
          {{/if}}
          {{#if this.contactUrl}}
            <li class="nav-item">
              <a class="nav-link" href="{{this.contactUrl}}">
                Contact
              </a>
            </li>
          {{/if}}
          {{#if this.faqUrl}}
            <li class="nav-item">
              <a class="nav-link" href="{{this.faqUrl}}">
                FAQ
              </a>
            </li>
          {{/if}}
        </ul>
        <div class="nav-item dropdown ml-auto w-25">
          <a
            id="user-menu-name"
            class="nav-link dropdown-toggle accountInfo pr-1"
            href="#"
            data-bs-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            {{on "click" this.toggleUserMenu}}
          >
            {{this.currentUser.user.displayName}}
          </a>
          <ul class="dropdown-menu {{if this.isUserMenuOpen 'show'}}" aria-labelledby="user-menu-name">
            <li>
              <a class="dropdown-item" href="#" {{on "click" this.logOut}}>
                <i class="fa fa-lock"></i>
                Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>