{{! template-lint-disable link-rel-noopener no-action no-curly-component-invocation no-html-comments no-implicit-this no-inline-styles require-button-type require-input-label }}
{{#each @submission.repositories as |repo|}}
  {{#if (eq repo.name "PubMed Central")}}
    <p class="lead text-muted">
      <a href="https://www.ncbi.nlm.nih.gov/pmc/about/public-access/" target="_blank">
        National Institutes of Health (NIH) and other PubMed Central-supported funding agencies
      </a>
      require funded authors to submit the Author's Accepted Manuscripts. For clarification on the difference between
      Author's Accepted Manuscript and Final Published Article,
      <a href="https://www.ncbi.nlm.nih.gov/pmc/about/authorms/" target="_blank">
        please see here
      </a>
      .
    </p>
    <p class="lead text-muted">
      To ensure successful processing of your submission in NIH Manuscript Submission System, be sure to include all
      referenced tables, figures and supplemental files in your submission, in addition to the Author's Accepted
      Manuscript.
    </p>
  {{/if}}
{{/each}}
{{#if (or @previouslyUploadedFiles @newFiles)}}
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-responsive-sm table-sm">
        <thead>
          <tr class="text-center">
            <th>
              File Name
            </th>
            <th>
              File Role
            </th>
            <th>
              <span tooltip-position="top" tooltip="Brief descriptive label, may be displayed in some repositories.">
                <i class="fas fa-info-circle d-inline"></i>
                Description
              </span>
            </th>
            <th>
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          {{#if this.manuscript}}
            <tr data-test-added-manuscript-row>
              <td class="vertical-align-middle">
                {{!-- {{#if manuscript.uri}} --}}
                {{!-- <a href="{{manuscript.uri}}">
                    {{manuscript.name}}
                  </a>
                {{else}} --}}
                {{this.manuscript.name}}
                {{!-- {{/if}} --}}
              </td>
              <td class="text-center vertical-align-middle">
                Manuscript
              </td>
              <td class="vertical-align-middle">
                <input
                  class="form-control file-description-width"
                  value={{this.manuscript.description}}
                  {{on "change" (fn this.updateFileDescription this.manuscript)}}
                />
              </td>
              <td class="text-center vertical-align-middle">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  data-test-remove-file-button
                  {{on "click" (fn this.deleteExistingFile this.manuscript)}}
                >
                  Remove
                </button>
              </td>
            </tr>
          {{/if}}
          {{#each this.supplementalFiles as |file|}}
            <tr data-test-added-supplemental-row>
              <td class="vertical-align-middle">
                {{!-- {{#if file.uri}}
                  <a href="{{file.uri}}">
                    {{file.name}}
                  </a>
                {{else}} --}}
                {{file.name}}
                {{!-- {{/if}} --}}
              </td>
              <td class="text-center vertical-align-middle">
                <select {{on "change" (fn this.updateFileRole file)}}>
                  <option value="supplement" selected={{eq file.fileRole "supplement"}}>
                    Supplement
                  </option>
                  {{!-- <option value="manuscript" selected={{eq file.fileRole "manuscript"}}>Manuscript</option> --}}
                  <option value="table" selected={{eq file.fileRole "table"}}>
                    Table
                  </option>
                  <option value="figure" selected={{eq file.fileRole "figure"}}>
                    Figure
                  </option>
                </select>
              </td>
              <td class="vertical-align-middle">
                <input
                  class="form-control file-description-width"
                  value={{file.description}}
                  {{on "change" (fn this.updateFileDescription file)}}
                />
              </td>
              <td class="text-center vertical-align-middle">
                <button type="button" class="btn btn-outline-danger" {{on "click" (fn this.deleteExistingFile file)}}>
                  Remove
                </button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <!--/.col-->
  </div>
{{/if}}
<!--/.row-->
<p class="lead">
  Attach manuscript/article files to this submission by selecting an existing open access (OA) copy we've discovered on
  the web or by uploading files from your computer. Once you've selected the manuscript/article, you will still be able
  to manually add supplemental material to the submission by uploading them from your computer.
</p>
<p class="lead">
  Each individual file must be smaller than 100MB.
</p>
<div class="form-group row">
  <div class="col-md-12">
    <FoundManuscripts
      @previouslyUploadedFiles={{@previouslyUploadedFiles}}
      @newFiles={{@newFiles}}
      @handleExternalMs={{this.handleExternalMs}}
      @disabled={{this.hasManuscript}}
    />
  </div>
</div>
<div class="form-group row">
  <div class="col-md-12">
    {{#let (file-queue name="files" onFileAdded=this.uploadFile) as |queue|}}
      <input
        type="file"
        id="file-multiple-input"
        multiple
        size="50"
        class="text-gray-300"
        style="border-width:2px; cursor:pointer; border-style: dashed; padding:30px; width:100%"
        {{queue.selectFile}}
      />
    {{/let}}
  </div>
</div>
<p>
  <strong>
    Tip:
  </strong>
  Use the Control or the Shift key to select multiple files.
</p>
<button class="btn btn-outline-primary" {{on "click" @back}}>
  Back
</button>
<button class="btn btn-outline-danger ml-2" {{on "click" this.cancel}}>
  Cancel
</button>
<button class="btn btn-primary pull-right next" data-test-workflow-files-next {{on "click" @next}}>
  Next
</button>