<div class="form-group row" {{did-insert this.initializeTooltip}}>
  <div class="col-md-12">
    <div class="list-group">
      <div href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1" data-test-workflow-review-title> {{@publication.title}}</h5>
          <small class="text-muted">{{@submission.dateSubmitted.date-time}}<br>{{@submission.dateCreated.date-time}}</small>
        </div>
        <p class="mb-1" data-test-workflow-review-doi>{{@publication.doi}}</p>
        <div class="text-muted">Please review the information below</div>
        <table local-class="review-step-table" class="table table-responsive-sm table-bordered w-100">
          <tbody>
            <tr>
              <td local-class="max-width">
                Repositories
                <span tooltip-position="right" tooltip="Submission into these repositories is required according to the respective policies.">
                  <i class="fas fa-info-circle"></i>
                </span>
              </td>
              <td>
                <ul data-test-workflow-review-repository-list>
                  {{#each @submission.repositories as |repository|}}
                  <li>{{repository.name}}</li>
                  {{/each}}
                </ul>
              </td>
            </tr>

            {{#if this.mustVisitWeblink}}
            <tr>
              <td class="text-nowrap text-center" id="externalSubmission">External Submission Required
                <br>
                {{#if this.disableSubmit}}
                <i class="fa fa-exclamation-triangle fa-2x mt-3 notice-triangle"></i>
                {{/if}}
              </td>
              <td>
                <label class="">
                  Please visit the following web portal to submit your manuscript directly. Metadata displayed above
                  could be used to aid in your submission progress.
                </label>
                <ul class="m-0">
                  {{#each this.weblinkRepos as |repo|}}
                  <li>
                    <button
                      type="button"
                      class="btn btn-link"
                      {{action "openWeblinkAlert"repo}}
                      data-test-repo-link-button
                    >
                      {{get repo 'url'}}
                    </button>
                  </li>
                  {{/each}}
                </ul>
              </td>
            </tr>
            {{/if}}
            <tr>
              <td>Grants</td>
              <td>
                <ul class="list-unstyled" data-test-workflow-review-grant-list>
                  {{#each @submission.grants as |grant|}}
                    <li><b>{{grant.awardNumber}}</b> : {{grant.projectName}}</li>
                    <li><b>Funder</b> : {{grant.primaryFunder.name}}</li>
                    {{#if (not-eq grant @submission.grants.lastObject)}}
                      <hr>
                    {{/if}}
                  {{/each}}
                </ul>
              </td>
            </tr>
            <tr>
              <td>Details</td>
              <td>
                <DisplayMetadataKeys @submission={{@submission}} />
              </td>
            </tr>

            <tr>
              <td>Files</td>
              <td>
                <table local-class="files-table" class="w-100">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col" class="font-weight-light">Name</th>
                      <th scope="col" class="font-weight-light">Type</th>
                      <th scope="col" class="font-weight-light">Description</th>
                    </tr>
                  </thead>
                  <tbody class="striped">
                    {{#each this.parsedFiles as |file|}}
                    <tr>
                      <td data-label="icon">
                        {{#if (eq file.mimeType 'png')}}
                        <i local-class="line-height-35 text-gray fa-30" class="fas fa-file-image"></i> {{else if (eq file.mimeType
                        'vnd.openxmlformats-officedocument.presentationml.presentation')}}
                        <i local-class="line-height-35 text-gray fa-30" class="fas fa-file-powerpoint"></i> {{else if (eq
                        file.mimeType 'msword')}}
                        <i local-class="line-height-35 text-gray fa-30" class="fas fa-file-word"></i> {{else if (eq file.mimeType
                        'pdf')}}
                        <i local-class="line-height-35 text-gray fa-30" class="fas fa-file-pdf"></i>
                        {{else}}
                        <i local-class="line-height-35 text-gray fa-30" class="far fa-file"></i>
                        {{/if}}
                      </td>
                      <td data-label="name" style="min-width:200px;" data-test-workflow-review-file-name>
                        {{file.name}}
                      </td>
                      <td data-label="type" class="text-nowrap">
                        {{file.fileRole}}
                      </td>
                      <td data-label="description">
                        {{file.description}}
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </td>
            </tr>
            {{#if @submission.isProxySubmission}}
            <tr>
              <td>Comments</td>
              <td>
                <p data-test-workflow-review-submitter>
                  This submission is prepared on behalf of
                  {{#if @submission.submitter}}
                  {{@submission.submitter.displayName}} (<a href="mailto:{{@submission.submitter.email}}">{{@submission.submitter.email}}</a>)
                  {{else}}
                  {{@submission.submitterName}} (<a href="{{@submission.submitterEmail}}">{{@submission.submitterEmailDisplay}}</a>)
                  {{/if}}
                </p>
                {{!-- Show the following if not saved yet. --}}
                {{#unless @submission.id}}
                <p>
                  Once "Request approval" is clicked, a notification will be sent to
                  {{#if @submission.submitter.id}}
                  {{@submission.submitter.displayName}} (<a href="mailto:{{@submission.submitter.email}}">{{@submission.submitter.email}}</a>)
                  {{else}}
                  {{@submission.submitterName}} (<a href="{{@submission.submitterEmail}}">{{@submission.submitterEmailDisplay}}</a>)
                  {{/if}}.
                  The submission will be sent to its target repositories upon approval, or be sent back to you if
                  additional edits
                  are requested by {{@submission.submitter.displayName}}.
                </p>
                {{/unless}}
                <hr>
                <CommentingBlock @submissionEvents={{@submission.submissionEvents}} />
                <Textarea placeholder="Add comment" @value={{@comment}} class="form-control custom-control p-2" @rows="2" @style="resize:none; min-height: 38px!important;" />
              </td>
            </tr>
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-outline-primary" {{action "back"}} data-test-workflow-review-back>Back</button>
<button class="btn btn-outline-danger ml-2" {{action "cancel"}}>Abort</button>
{{#if @uploading}}
  <button class="btn btn-primary pull-right submit" disabled>{{@waitingMessage}}</button>
{{else}}
  <button class="btn btn-primary pull-right submit" onclick={{perform this.submitTask}} data-test-workflow-review-submit>{{this.submitButtonText}}</button>
{{/if}}
