{{! template-lint-disable no-action no-inline-styles no-unknown-arguments-for-builtin-components require-button-type require-input-label }}
<div class="form-group row" {{did-insert this.initializeTooltip}}>
  {{#each this.flashMessages.queue as |flash|}}
    <div class="flash-message-container">
      <FlashMessage @flash={{flash}} as |component flash close|>
        <div class="d-flex justify-content-between">
          {{flash.message}}
          <span role="button" {{on "click" close}}>
            x
          </span>
        </div>
      </FlashMessage>
    </div>
  {{/each}}
  <div class="col-md-12">
    <div class="list-group">
      <div href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h4 class="mb-1" data-test-workflow-review-title>
            {{@publication.title}}
          </h4>
          <small class="text-muted">
            {{@submission.dateSubmitted.date-time}}<br />{{@submission.dateCreated.date-time}}
          </small>
        </div>
        <p class="mb-1" data-test-workflow-review-doi>
          {{@publication.doi}}
        </p>
        <div class="text-muted">
          Please review the information below
        </div>
        <table local-class="review-step-table" class="table table-responsive-sm table-bordered w-100">
          <tbody>
            {{#if this.mustVisitWeblink}}
              <tr>
                <td class="text-nowrap text-center" id="externalSubmission">
                  <p class="{{if this.disableSubmit "text-danger"}}">
                    External Submission Required
                  </p>
                  {{#if this.disableSubmit}}
                    <i class="fa fa-exclamation-triangle fa-2x notice-triangle text-danger"></i>
                  {{/if}}
                </td>
                <td>
                  <label class="">
                    You are required to make a submission to these repositories directly because PASS cannot
                    integrate with these systems.
                  </label>
                  <ul class="m-0 list-unstyled">
                    {{#each this.weblinkRepos as |repo|}}
                      <li>
                        <label class="pl-3">
                          {{ repo.name }}
                          <button
                            type="button"
                            class="btn btn-link {{if this.disableSubmit "font-weight-bold"}}"
                            data-test-repo-link-button
                            {{action "openWeblinkAlert" repo}}
                          >
                            {{ repo.url }}
                          </button>
                        </label>

                      </li>
                    {{/each}}
                  </ul>
                </td>
              </tr>
            {{/if}}

            <tr>
              <td local-class="max-width">
                Repositories
              </td>
              <td>
                <p>
                  Submission into these repositories is required according to the respective policies.
                </p>
                <ul class="m-0 list-unstyled" data-test-workflow-review-repository-list>
                  {{#each @submission.repositories as |repository|}}
                    <li class="pl-3">
                      {{repository.name}}
                    </li>
                  {{/each}}
                </ul>
              </td>
            </tr>

            <tr>
              <td>
                Grants
              </td>
              <td>
                <ul class="list-unstyled" data-test-workflow-review-grant-list>
                  {{#each @submission.grants as |grant|}}
                    <li>
                      <b>
                        {{grant.awardNumber}}
                      </b>
                      :
                      {{grant.projectName}}
                    </li>
                    <li>
                      <b>
                        Funder
                      </b>
                      :
                      {{grant.primaryFunder.name}}
                    </li>
                    {{#if (not-eq grant @submission.grants.lastObject)}}
                      <hr />
                    {{/if}}
                  {{/each}}
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                Details
              </td>
              <td>
                <DisplayMetadataKeys @submission={{@submission}} />
              </td>
            </tr>

            <tr>
              <td>
                Files
              </td>
              <td>
                <table local-class="files-table" class="w-100">
                  <thead>
                    <tr>
                      <th scope="col">File Type</th>
                      <th scope="col" class="font-weight-light">
                        Name
                      </th>
                      <th scope="col" class="font-weight-light">
                        Manuscript/Supplement
                      </th>
                      <th scope="col" class="font-weight-light">
                        Description
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each this.parsedFiles as |file|}}
                      <tr>
                        <td data-label="icon">
                          {{#if (eq file.mimeType "png")}}
                            <i local-class="line-height-35 text-gray fa-30" class="fas fa-file-image"></i>
                          {{else if (eq file.mimeType "vnd.openxmlformats-officedocument.presentationml.presentation")}}
                            <i local-class="line-height-35 text-gray fa-30" class="fas fa-file-powerpoint"></i>
                          {{else if (eq file.mimeType "msword")}}
                            <i local-class="line-height-35 text-gray fa-30" class="fas fa-file-word"></i>
                          {{else if (eq file.mimeType "pdf")}}
                            <i local-class="line-height-35 text-gray fa-30" class="fas fa-file-pdf"></i>
                          {{else}}
                            <i local-class="line-height-35 text-gray fa-30" class="far fa-file"></i>
                          {{/if}}
                        </td>
                        <td class="workflow-review-file-name" data-label="name" data-test-workflow-review-file-name>
                          {{file.name}}
                        </td>
                        <td data-label="type" class="text-nowrap">
                          {{file.fileRole}}
                        </td>
                        <td data-label="description">
                          {{file.description}}
                        </td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </td>
            </tr>
            {{#if @submission.isProxySubmission}}
              <tr>
                <td>
                  Comments
                </td>
                <td>
                  <p data-test-workflow-review-submitter>
                    This submission is prepared on behalf of
                    {{#if @submission.submitter}}
                      {{@submission.submitter.displayName}}
                      (
                      <a href="mailto:{{@submission.submitter.email}}">
                        {{@submission.submitter.email}}
                      </a>
                      )
                    {{else}}
                      {{@submission.submitterName}}
                      (
                      <a href="{{@submission.submitterEmail}}">
                        {{@submission.submitterEmailDisplay}}
                      </a>
                      )
                    {{/if}}
                  </p>
                  {{! Show the following if not saved yet. }}
                  {{#unless @submission.id}}
                    <p>
                      Once "Request approval" is clicked, a notification will be sent to
                      {{#if @submission.submitter.id}}
                        {{@submission.submitter.displayName}}
                        (
                        <a href="mailto:{{@submission.submitter.email}}">
                          {{@submission.submitter.email}}
                        </a>
                        )
                      {{else}}
                        {{@submission.submitterName}}
                        (
                        <a href="{{@submission.submitterEmail}}">
                          {{@submission.submitterEmailDisplay}}
                        </a>
                        )
                      {{/if}}
                      . The submission will be sent to its target repositories upon approval, or be sent back to you if
                      additional edits are requested by
                      {{@submission.submitter.displayName}}.
                    </p>
                  {{/unless}}
                  <hr />
                  <CommentingBlock @submissionEvents={{@submission.submissionEvents}} />
                  <Textarea
                    placeholder="Add comment"
                    @value={{@comment}}
                    class="form-control custom-control p-2 comment-text-area"
                    @rows="2"
                  />
                </td>
              </tr>
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-outline-primary" data-test-workflow-review-back {{action "back"}}>
  Back
</button>
<button class="btn btn-outline-danger ml-2" {{action "cancel"}}>
  Cancel
</button>
{{#if @uploading}}
  <button class="btn btn-primary pull-right submit" disabled>
    {{@waitingMessage}}
  </button>
{{else if this.disableSubmit}}
  <button
    class="btn btn-primary pull-right submit"
    data-test-workflow-review-submit
    disabled
  >
    {{this.submitButtonText}}
  </button>
{{else}}
  <button
    class="btn btn-primary pull-right submit"
    onclick={{perform this.submitTask}}
    data-test-workflow-review-submit
  >
    {{this.submitButtonText}}
  </button>
{{/if}}