{{#if this.setupManuscripts.isIdle}}
 {{#if (and (not @disabled) (gt this.foundManuscriptsToDisplay.length 0))}}
    <div class="border p-4">
      {{#if @disabled}}<h1>Disabled</h1>{{/if}}
      <p class="text-muted mb-0">
        We found the following OA copies of your manuscript/article. Please select only a peer-reviewed copy 
        for inclusion in this submission. If you need help determining the appropriate copy to submit to PASS, 
        please <a href="{{assetsUri}}contact.html" target="_blank">contact JHU's Office of Scholarly Communications</a>.
      </p>
      <p class="text-muted ml-4 mb-0">
        Click the <i class="fa fa-plus" aria-hidden="true"></i> icon beside a file name 
        to add it to your submission. 
      </p>
      <p class="text-muted ml-4">
        The <i class="fa fa-cloud-download" aria-hidden="true"></i> icon will open the file
        in your browser so you can see it first.
      </p>
      {{#each this.foundManuscriptsToDisplay as |manuscript|}}
        <div class="row border-top border-bottom m-auto p-2">
          <div class="mr-auto">
            <a
              href="javascript:;"
              class="p-2"
              title="Add this manuscript to your submission"
              {{on "click" (perform this.addFile manuscript)}}
            >
              <i class="fa fa-lg fa-plus" aria-hidden="true"></i>
              <span class="pl-2">{{manuscript.name}}</span>
              {{#if manuscript.repositoryLabel}}
                <span class="font-italic"> - {{manuscript.repositoryLabel}}</span>
              {{/if}}
            </a>
          </div>
          <div class="border-left my-auto">
            <a href="{{manuscript.url}}" target="_blank" class="px-4 py-2" title="Download this manuscript">
              <i class="fa fa-lg fa-cloud-download" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
{{else}}
  <div class="text-center app-loader">
    <div class="lds-dual-ring"></div>
  </div>
{{/if}}