{{#if this.setupManuscripts.isIdle}}
 {{#if (gt this.foundManuscriptsToDisplay.length 0)}}
    <div class="border p-4">
      <p class="text-muted">
        Based on the DOI you provided, we found the following files online. Click the 
        <i class="fa fa-plus" aria-hidden="true"></i> 
        icon beside a file name to add it to your submission.
      </p>
      {{#each this.foundManuscriptsToDisplay as |manuscript|}}
        <div class="row border-top border-bottom m-auto p-2">
          <div class="mr-auto">
            <a
              href="javascript:;"
              class="p-2"
              title="Add this manuscript to your submission"
              {{on "click" (perform this.addFile manuscript)}}
            >
              <i class="fa fa-lg fa-plus" aria-hidden="true"></i>
              <span class="pl-2">{{manuscript.name}}</span>
              {{#if manuscript.repositoryLabel}}
                <span class="font-italic"> - {{manuscript.repositoryLabel}}</span>
              {{/if}}
            </a>
          </div>
          <div class="border-left my-auto">
            <a href="{{manuscript.url}}" target="_blank" class="px-4 py-2" title="Download this manuscript">
              <i class="fa fa-lg fa-cloud-download" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
{{else}}
  <div class="text-center app-loader">
    <div class="lds-dual-ring"></div>
  </div>
{{/if}}