{{#if this.setupManuscripts.isIdle}}
 {{#if (and (not @disabled) (gt this.foundManuscriptsToDisplay.length 0))}}
    <div class="border p-4" data-test-foundmss-component>
      {{#if @disabled}}<h1>Disabled</h1>{{/if}}
      <p class="text-muted">
        We found the following OA copies of your manuscript/article. Please select only a peer-reviewed copy
        for inclusion in this submission. If you need help determining the appropriate copy to submit to PASS,
        please <a href="{{assetsUri}}contact.html" target="_blank">contact JHU's Office of Scholarly Communications</a>.
      </p>
      <p class="text-muted mb-0">
        Click the <i class="fa fa-plus" aria-hidden="true"></i> icon beside a file name
        to add it to your submission.
      </p>
      <p class="text-muted">
        Click the <i class="fa fa-cloud-download" aria-hidden="true"></i> icon to open the file so you can see it first.
      </p>
      {{#each this.foundManuscriptsToDisplay as |manuscript|}}
        <div class="d-flex flex-row border-top border-bottom m-auto p-2 align-items-center justify-content-between">
          <div class="d-flex flex-row flex-shrink-1 pr-4 files-upload-action">
            <a
              href="javascript:;"
              class="p-2 {{if (contains manuscript.url this.manuscriptsWithErrors) 'text-danger'}}"
              title="Add this manuscript to your submission"
              {{on "click" (perform this.addFile manuscript)}}
              data-test-add-file-link
            >
              {{#if (contains manuscript.url this.manuscriptsWithErrors)}}
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              {{else}}
                <i class="fa fa-lg fa-plus" aria-hidden="true"></i>
              {{/if}}
              <span class="pl-2">{{manuscript.name}}</span>
              {{#if manuscript.repositoryLabel}}
                <span class="font-italic"> - {{manuscript.repositoryLabel}}</span>
              {{/if}}
              {{#if (contains manuscript.url this.manuscriptsWithErrors)}}
                <small class="d-flex flex text-danger">We weren't able to add the file to your submission</small>
              {{/if}}
            </a>
          </div>
          <div class="flex-grow-1 ml-sm-4 files-download-action">
            <a href="{{manuscript.url}}" target="_blank" class="px-4 py-2" title="Download this manuscript">
              <i class="fa fa-lg fa-cloud-download" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
{{else}}
  <div class="text-center">
    <div class="lds-dual-ring mt-0"></div>
  </div>
{{/if}}