<h3>Overview</h3>

<ul>
  <li>Title: {{model.title}}</li>
  <li>Copyright: {{model.copyright}}</li>
  <li>Creation date: {{model.creationDate}}</li>  
  <li>Status: {{model.status}}</li>
</ul>
{{outlet}}