<h2 class="font-weight-light ml-3">Metadata</h2>
{{#workflow-group name="metadata" workflow=(workflow-for model "metadata")
        first=(route-action "transitionTo" "submission.show.repositories" model)
        last=(route-action "transitionTo" "submission.show.attachments" model)
        stepFilter=(action "filterWorkflowStep")
        as |group|}}
    {{#workflow-card step="common" group=group
            back=(action "backActionFor" "common" target=group)
            next=(action "nextActionFor" "common" target=group)}}
        {{!-- {{submission-metadata-common schema=schema.common}} --}}
        {{metadata-form schema=schema.common title="Common" description="Please provide additional information about your article/manuscript below:"}}

    {{/workflow-card}}

    {{#workflow-card step="PMC" group=group
            back=(action "backActionFor" "PMC" target=group)
            next=(action "nextActionFor" "PMC" target=group)}}
        {{!-- {{submission-metadata-common schema=schema.nih}} --}}
        {{metadata-form schema=schema.nih title="NIH Manuscript Submission System (NIHMS)" description="The following metadata fields will be part of the NIHMS submission."}}

        {{!-- {{submission-metadata-nihms}} --}}
    {{/workflow-card}}

    {{#workflow-card step="DOE-PAGES" group=group
            back=(action "backActionFor" "DOE-PAGES" target=group)
            next=(action "nextActionFor" "DOE-PAGES" target=group)}}
        {{submission-metadata-pages}}
    {{/workflow-card}}

    {{#workflow-card step="NSF-PAR" group=group
            back=(action "backActionFor" "NSF-PAR" target=group)
            next=(action "nextActionFor" "NSF-PAR" target=group)}}
        {{submission-metadata-par}}
    {{/workflow-card}}
{{/workflow-group}}
