{{! template-lint-disable link-href-attributes link-rel-noopener no-action no-invalid-interactive no-invalid-link-text require-button-type }}
<p
  class="lead text-muted"
  data-test-workflow-grants-lead-text
  {{did-insert (perform this.setup)}}
  {{did-update (perform this.setup)}}
>
  Please select the grant(s)/award(s) that funded this work. This information will help determine which public access
  policies are applicable to your work. If the work you’re about to submit was not supported by a grant, leave this page
  blank and go to the next step.
</p>

{{#if this._selectedGrants}}
  <h5>
    Grants added to submission
  </h5>
  <SubmissionFundingTable @grants={{this._selectedGrants}} @remove={{this.removeGrant}} @setup={{this.setup}} />
  <button class="btn btn-outline-primary" {{action @back}}>
    Back
  </button>
  <button class="btn btn-primary next pull-right" data-test-workflow-grants-next {{action @next}}>
    Next
  </button>
  <br />
  <br />
{{/if}}

{{#if @submission.submitter.id}}
  <h4>
    Available grants
  </h4>

  <p>
    {{#if this.contactUrl}}
      If your grant is not listed,
      <a href="{{this.contactUrl}}" target="_blank">
        please contact us
      </a>
      .
    {{/if}}
  </p>

  {{#if (gt this.pageCount "1")}}
    <p class="font-italic">
      Showing
      {{this.pageFirstMatchNumber}}-{{this.pageLastMatchNumber}}
      of total
      {{this.totalGrants}}
    </p>
  {{/if}}
  {{#if this.setup.isIdle}}
    <div id="grants-selection-table" data-test-grants-selection-table>
      <ModelsTable
        @data={{this.submitterGrants}}
        @columns={{this.grantColumns}}
        @columnComponents={{hash
          grantLinkNewtabCell=(component "grant-link-newtab-cell")
          selectRowToggle=(component "select-row-toggle")
          dateCell=(component "date-cell")
        }}
        @themeInstance={{this.themeInstance}}
        @showColumnsDropdown={{false}}
        @useFilteringByColumns={{false}}
        @multipleColumnsSorting={{false}}
        @showComponentFooter={{false}}
        @showGlobalFilter={{false}}
        @pageSize={{this.pageSize}}
        @multipleSelect={{true}}
        @selectedItems={{this._selectedGrants}}
        @onDisplayDataChanged={{this.dataChange}}
        ...attributes
      />
    </div>
  {{else}}
    <div class="d-flex flex-row align-items justify-content-center my-3">
      <div class="lds-dual-ring mt-0"></div>
    </div>
  {{/if}}

  {{#if (gt this.pageCount "1")}}
    <nav id="grants-selection-nav" aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item active btn">
          <a class="fa fa-angle-left" {{action "prevPage"}}></a>
        </li>
        <li class="page-item d-flex align-items-center">
          <span>
            Page
            {{this.pageNumber}}
            of
            {{this.pageCount}}
          </span>
        </li>
        <li class="page-item active btn">
          <a class="fa fa-angle-right" {{action "nextPage"}}></a>
        </li>
      </ul>
    </nav>
  {{/if}}
{{else}}
  <p data-test-workflow-grants-no-account-message>
    Because the person you are submitting on behalf of is not yet in our system, PASS does not have information about
    his/her grant(s) and cannot associate this submission with a grant. Please click Next to continue.
  </p>
{{/if}}
<br />
<button class="btn btn-outline-primary" data-test-workflow-grants-back {{action @back}}>
  Back
</button>
<button class="btn btn-outline-danger ml-2" {{action "abortSubmission"}}>
  Cancel
</button>
<button class="btn btn-primary next pull-right" data-test-workflow-grants-next {{action @next}}>
  Next
</button>
{{yield}}