<p class="lead text-muted" data-test-workflow-grants-lead-text>
    Please select the grant(s)/award(s) that funded this work. This information will help determine which
    public access policies are applicable to your work. If the work you’re about to submit was not
    supported by a grant, leave this page blank and go to the next step.
</p>

{{#if @submission.grants}}
  <h5>Grants added to submission</h5>
  <SubmissionFundingTable @grants={{@submission.grants}} @remove={{action this.removeGrant}} />
  <button class="btn btn-outline-primary" {{action @back}}>Back</button>
  <button class="btn btn-primary next pull-right" {{action @next}} data-test-workflow-grants-next>Next</button>
  <br>
  <br>
{{/if}}

{{#if @submission.submitter.id}}

  <h5>Available grants</h5>

  <p>
    PASS receives information about grants from the University grant database. If your grant is not listed,
    <a href="{{this.assetsUri}}contact.html" target="_blank">please contact us</a>.
  </p>

  {{#if (gt this.pageCount "1")}}
  <p  class="font-italic">Showing {{this.pageFirstMatchNumber}}-{{this.pageLastMatchNumber}} of total {{this.totalGrants}}</p>
  {{/if}}
  <ModelsTable
    @id="grants-selection-table"
    @data={{this.submitterGrants}}
    @columns={{this.grantColumns}}
    @themeInstance={{this.themeInstance}}
    @showColumnsDropdown={{false}}
    @useFilteringByColumns={{false}}
    @multipleColumnsSorting={{false}}
    @showComponentFooter={{false}}
    @showGlobalFilter={{false}}
    @pageSize={{this.pageSize}}
    @multipleSelect={{true}}
    @selectedItems={{@submission.grants}}
    @displayDataChangedAction={{action "dataChange"}}
    @data-test-grants-selection-table={{true}}
  />

  {{#if (gt this.pageCount "1")}}
    <nav id="grants-selection-nav" aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item active">
          <a {{action "prevPage"}} class="fa fa-angle-left"></a>
        </li>
        <li class="page-item">
          <a class="page-link">Page {{this.pageNumber}} of {{this.pageCount}}</a>
        </li>
        <li class="page-item active">
          <a {{action "nextPage"}} class="fa fa-angle-right"></a>
        </li>
      </ul>
    </nav>
  {{/if}}

{{else}}
  <p data-test-workflow-grants-no-account-message>Because the person you are submitting on behalf of is not yet in our system, PASS does not have information about his/her grant(s) and cannot associate this submission with a grant. Please click Next to continue.</p>
{{/if}}
<br>
<button class="btn btn-outline-primary" {{action @back}} data-test-workflow-grants-back>Back</button>
<button class="btn btn-outline-danger ml-2" {{action "abortSubmission"}}>Abort</button>
<button class="btn btn-primary next pull-right" {{action @next}} data-test-workflow-grants-next>Next</button>
{{yield}}
