<div id="grant-details-title" class="d-flex justify-content-between row my-3 mx-auto">
  <div class="d-flex align-items-center">
    <LinkTo @route="grants" class="btn btn-small back-arrow mr-1" aria-label="Go back to the previous page">
      <i class="fa fa-arrow-left fa-lg"></i>
    </LinkTo>
    <h1 class="font-weight-light pt-1">
      Grant Details
    </h1>
  </div>
  {{#if this.currentUser.user.isSubmitter}}
    <div>
      <LinkTo @route="submissions.new" @query={{hash grant=this.grant.id}} class="btn btn-primary btn-small pull-right">
        Create new submission
      </LinkTo>
    </div>
  {{/if}}
</div>
<div id="grant-details-body" class="grant-details">
  <div class="row">
    <ul class="col-sm-6">
      <li data-test-grants-detail-name>
        <strong>
          Project Name:
        </strong>
        {{this.grant.projectName}}
      </li>
      <li data-test-grants-detail-award-number>
        <strong>
          Award Number:
        </strong>
        {{this.grant.awardNumber}}
      </li>
      <li data-test-grants-detail-funder>
        <strong>
          Funder:
        </strong>
        {{this.grant.primaryFunder.name}}
      </li>
      <li>
        <strong>
          Start:
        </strong>
        {{format-date this.grant.startDate}}
      </li>
      <li>
        <strong>
          End:
        </strong>
        {{format-date this.grant.endDate}}
      </li>
    </ul>
    <ul class="col-sm-6">
      <li>
        <strong>
          Status:
        </strong>
        {{this.grant.awardStatus}}
      </li>
      <li>
        <strong>
          PI:
        </strong>
        {{this.grant.pi.displayName}}
      </li>
      <li>
        <strong>
          Co-PI(s) / Co-I(s):
        </strong>
        <ul>
          {{#each this.grant.coPis as |person index|}}
            {{#if index}}
              ,
            {{/if}}
            {{person.displayName}}
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-12 table-container">
    <h3 class="font-weight-light">
      Submissions for grant
    </h3>
    <div class="submission-table">
      <ModelsTableServerPaginated
        @data={{this.queuedModel.submissions.data}}
        @columns={{this.columns}}
        @themeInstance={{this.themeInstance}}
        @showColumnsDropdown={{false}}
        @filteringIgnoreCase={{true}}
        @multipleColumnsSorting={{false}}
        @useFilteringByColumns={{false}}
        @showGlobalFilter={{false}}
        @pageSize={{this.pageSize}}
        @pageSizeValues={{this.tablePageSizeValues}}
        @currentPageNumber={{this.page}}
        @itemsCount={{this.itemsCount}}
        @pagesCount={{this.pagesCount}}
        @filterString={{this.filter}}
        @filterQueryParameters={{this.filterQueryParameters}}
        @doQuery={{this.doQuery}}
        @onDisplayDataChanged={{this.displayAction}}
      />
    </div>
  </div>
</div>