<div class="row">
  <div class="col-12">
    <h1 class="font-weight-light">Your Grants</h1>
    {{#if this.faqUrl}}
      <p>
        For information about which grants are displayed in PASS, please see our
        <a href="{{this.faqUrl}}">FAQ page</a>.
      </p>
    {{/if}}
  </div>
</div>
<div class="row justify-content-center grant-table">
  <div class="col-12" style="overflow-x:auto;">
    <div class="grant-table">
      <ModelsTable
        @data={{this.model}}
        @columns={{this.columns}}
        @themeInstance={{this.themeInstance}}
        @showColumnsDropdown={{false}}
        @useFilteringByColumns={{false}}
        @filteringIgnoreCase={{true}}
        @multipleColumnsSorting={{false}}
        @piSelected="piclick"
        @pageSize={{this.tablePageSize}}
        @pageSizeValues={{this.tablePageSizeValues}}
      />
    </div>
  </div>
</div>
<MessageDialog
  @show={{this.messageShow}}
  @to={{this.messageTo}}
  @subject={{this.messageSubject}}
  @message={{this.messageText}}
/>