<div class="row">
  <div class="col-12">
    <h1 class="font-weight-light">
      Your Grants
    </h1>
    {{#if this.faqUrl}}
      <p>
        For information about which grants are displayed in PASS, please see our
        <a href="{{this.faqUrl}}">
          FAQ page
        </a>
        .
      </p>
    {{/if}}
  </div>
</div>
<div class="row justify-content-center grant-table">
  <div class="col-12 table-container">
    <div class="grant-table">
      <ModelsTableServerPaginated
        @data={{this.queuedModel.grantMap}}
        @columns={{this.columns}}
        @columnComponents={{hash
          grantLinkCell=(component "grant-link-cell")
          piListCell=(component "pi-list-cell")
          grantSubmissionCell=(component "grant-submission-cell")
          grantActionCell=(component "grant-action-cell")
          dateCell=(component "date-cell")
        }}
        @themeInstance={{this.themeInstance}}
        @showColumnsDropdown={{false}}
        @useFilteringByColumns={{false}}
        @filteringIgnoreCase={{true}}
        @multipleColumnsSorting={{false}}
        @currentPageNumber={{this.page}}
        @pageSize={{this.pageSize}}
        @pageSizeValues={{this.tablePageSizeValues}}
        @itemsCount={{this.itemsCount}}
        @pagesCount={{this.pagesCount}}
        @filterString={{this.filter}}
        @filterQueryParameters={{this.filterQueryParameters}}
        @doQuery={{this.doQuery}}
        @onDisplayDataChanged={{this.displayAction}}
      />
    </div>
  </div>
</div>
<MessageDialog
  @show={{this.messageShow}}
  @to={{this.messageTo}}
  @subject={{this.messageSubject}}
  @message={{this.messageText}}
/>