<h2>Grant details</h2>

<ul>
  <li>Funder: {{model.funder.name}}</li>
  <li>Award Number: {{model.awardNumber}}</li>
  <li>Project Name: {{model.projectName}}</li>
  <li>PI: <a href='mailto:{{model.pi.email}}'>{{model.pi.name}}</a></li>
  <li>CoPIs:</li>
    <ul>
      {{#each model.copis as |person|}}
        <li><a href='mailto:{{person.email}}'>{{person.name}}</a></li>
      {{/each}}
    </ul>
  <li>Start: {{date-formatter model.startDate}}</li>
  <li>End: {{date-formatter model.endDate}}</li>
  <li>Status: {{model.status}}</li>
  <li>OAP Compliance: {{model.oapCompliance}}</li>
  <li>Created by: {{model.creator.username}} on {{date-formatter model.creationDate}}</li>
</ul>


<h3>Submissions of grant</h3>

{{models-table
  data=model.submissions
  columns=columns
  themeInstance=themeInstance
  showColumnsDropdown=false
  filteringIgnoreCase=true
  multipleColumnsSorting=false
}}

{{#if isShowingForm}}
    {{! This is a bit odd, but *by seting an arbitrary variable (exec_) on an arbitrary component*, 
        we invoke 'newSubmission' to create a new submission resource, and set the 'submission'
        property to contain it.  For whatever reason, this *doesn't* work as an onClick action
        from the button.  ¯\_(ツ)_/¯
    }}
    {{#modal-dialog translucentOverlay=true exec_=(compute (action (mut submission) (compute (action newSubmission))))}}
      {{#workflow-card
            continue=(action createAndEditSubmission submission) 
            cancel=(action cancelSubmission submission (action (mut isShowingForm) false)) 
            save=(action saveAndCloseSubmission submission)}}
        {{submission-overview submission=submission}}
      {{/workflow-card}}
   {{/modal-dialog}}
{{/if}}
<button class="btn btn-primary btn-small" onclick={{action (mut isShowingForm) true}}>
  New Submission
</button>

{{#link-to 'grants' class="btn btn-primary btn-small"}}Back to grants{{/link-to}}
