<h2>Grant details</h2>

<ul>
  <li>Agency: {{model.agency}}</li>
  <li>Number: {{model.number}}</li>
  <li>Title: {{model.title}}</li>
  <li>Start: {{model.start_date}}</li>
  <li>End: {{model.end_date}}</li>
  <li>Status: {{model.status}}</li>
</ul>

{{#link-to 'grants' class="btn btn-primary btn-small"}}Back to grants{{/link-to}}

{{outlet}}