<h2>Grant details</h2>

<ul>
  <li>Funder: {{model.funder.name}}</li>
  <li>Award Number: {{model.awardNumber}}</li>
  <li>Project Name: {{model.projectName}}</li>
  <li>PI: <a href='mailto:{{model.pi.email}}'>{{model.pi.name}}</a></li>
  <li>CoPIs:</li>
    <ul>
      {{#each model.copis as |person|}}
        <li><a href='mailto:{{person.email}}'>{{person.name}}</a></li>
      {{/each}}
    </ul>
  <li>Start: {{date-formatter model.startDate}}</li>
  <li>End: {{date-formatter model.endDate}}</li>
  <li>Status: {{model.status}}</li>
  <li>OAP Compliance: {{model.oapCompliance}}</li>
  <li>Created by: {{model.creator.username}} on {{date-formatter model.creationDate}}</li>
</ul>


<h3>Submissions of grant</h3>

{{models-table
  data=model.submissions
  columns=columns
  themeInstance=themeInstance
  showColumnsDropdown=false
  filteringIgnoreCase=true
  multipleColumnsSorting=false
}}

{{#resource-form saveAction=(action "addSubmission") as |form|}}
    <button {{action 'newResource' 'submission' target=form}}>NEW SUBMISSION</button>
{{/resource-form}}

{{#link-to 'grants' class="btn btn-primary btn-small"}}Back to grants{{/link-to}}
