{{#link-to 'submissions' class="btn btn-small back-arrow"}}<i class="fa fa-arrow-left fa-lg"></i>{{/link-to}}
<h2 class="font-weight-light d-inline-block">Submission Detail</h2>
<style>
.document-item::after {
  content: 'file';
  content: attr(filetype);
  text-align: right;
  padding: 2px;
  background-color: #536c79;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.fa-30 {
  font-size: 30px;
  margin-top: 4px;
}

.file-icon {
  padding: 4px;
  width: 100px;
  height: 125px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
}

.text-overflow {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: pre-wrap;
  height: 18px;
  margin-bottom: 3px;
}

table td {
  border: 1px dotted silver;
  word-break: break-all;
}

.min-review-type-width {
  min-width: 100px;
}

.manuscriptTag {
  position: absolute;
  top: 22px;
  right: 44%;
}
</style>
<div class="form-group row">
  <div class="col-md-12">
    <div class="list-group">
      <div href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"> {{model.sub.publication.title}}</h5>
          <small class="text-muted text-right">Submitted {{format-date model.sub.submittedDate}}</small>
        </div>
        <p class="mb-1">DOI: {{model.sub.publication.doi}}</p>
        <table class="table table-responsive-sm table-bordered w-100">
          <tbody>
            <tr>
              <td>Status</td>
              <td>{{model.sub.aggregatedDepositStatus}}
              </td>
            </tr>
            <tr>
              <td>Grants</td>
              <td>
                <ul class="list-unstyled">
                  {{#each model.sub.grants as |grant|}}
                    <li><b>{{grant.awardNumber}}</b> : {{grant.projectName}}</li>
                    <li><b>Funder</b> : {{grant.primaryFunder.name}}</li>
                    {{#if (not-eq grant model.sub.grants.lastObject)}}
                      <hr>
                    {{/if}}
                  {{/each}}
                </ul>
              </td>
            </tr>
            <tr>
              <td class="text-nowrap">Repositories</td>
              <td>
                <ul>
                  {{#each (await model.sub.repositories) as |repository index|}}
                    <li>{{repository.name}}</li>
                  {{/each}}
                </ul>
              </td>
            </tr>
            {{#if externalSubmission}}
            <tr>
              <td class="text-nowrap">External Submission Repositories</td>
              <td>
                <ul>
                  <li>Deposit into Educational Resources Information Center (ERIC) was prompted</li>
              </ul>
              </td>
            </tr>
            {{/if}}
            <tr>
            </tr>
            <td class="text-nowrap">Submitter</td>
            <td>{{get (await model.sub.user) 'displayName'}}
              {{#if (get (await model.sub.user) 'institutionalId')}}
                ({{get (await model.sub.user) 'institutionalId'}})
              {{/if}}
            </td>
            <tr>
              <td>Metadata</td>
              <td>
                <ul class="list-unstyled">
                  {{#each-in metadataBlobNoKeys as |key data|}}
                    {{!-- TODO: Look in to making the ifs in to one if --}}
                    {{#if (not-eq key 'Embargo')}}
                      {{#if (not-eq key 'Under-embargo')}}
                        {{#if (not-eq key 'Embargo-end-date')}}
                          {{#if (not-eq key 'Agreement-to-embargo')}}
                            {{#if (not-eq key 'Submission')}}
                              {{#if (eq key 'Author(s)')}}
                                <li><b>{{key}}</b>:
                                  <ul>
                                    {{#each data as |author|}}
                                      <li>{{author.author}}{{#if author.orcid}} (<a href={{author.orcid}} target="_blank">{{author.orcid}}</a>){{/if}}</li>
                                    {{/each}}
                                  </ul>
                                </li>
                              {{else}}
                                {{#if (eq key 'URL')}}
                                <li><b>{{key}}</b>: <a href={{data}} target="_blank">{{data}}</a></li>
                                {{else}}
                                <li><b>{{key}}</b>: {{{data}}}</li>
                                {{/if}}
                              {{/if}}
                            {{/if}}
                          {{/if}}
                        {{/if}}
                      {{/if}}
                    {{/if}}
                  {{/each-in}}
                </ul>
              </td>
            </tr>
            <tr>
              <td>Files</td>
              <td>
                {{#each (get model 'files') as |file|}}
                  <div class="card file-icon text-center">
                    <span class="small">{{file.fileRole}}</span><br>
                    <i class="fa fa-file-o fa-30"></i>
                    <p class="text-overflow">{{file.name}}</p>
                    <span class="document-item small" filetype="{{file.mimeType}}"></span>
                  </div>
                {{/each}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
