{{#link-to 'submissions' class="btn btn-small back-arrow"}}<i class="fa fa-arrow-left fa-lg"></i>{{/link-to}}
<h2 class="font-weight-light d-inline-block">Submission Detail</h2>
<style>
.fa-30 {
  font-size: 30px;
  margin-top: 4px;
}
.text-gray {
  color:gray;
}
.file {
  background-color: #fdfdfd;
  background-clip: border-box;
  border: 1px solid #dedede!important;
  border-radius: 1px!important;
  max-height:50px;
  color: gray;
}

.line-height-50 {
  line-height: 50px;
  overflow: hidden;
}

.line-height-35 {
  line-height: 35px;
}
.zoom-in {cursor: zoom-in;}


table td {
  border: 1px dotted silver;
  word-break: break-all;
}

.min-review-type-width {
  min-width: 100px;
}

.max-width {
  max-width: 300px!important;
}
</style>
<div class="form-group row">
  <div class="col-md-12">
    <div class="list-group">
      <div href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"> {{model.sub.publication.title}}</h5>
          <small class="text-muted text-right">Submitted {{format-date model.sub.submittedDate}}</small>
        </div>
        <p class="mb-1">DOI: {{model.sub.publication.doi}}</p>
        <table class="table table-responsive-sm table-bordered w-100">
          <tbody>
            <tr>
              <td class="max-width">Status</td>
              {{#if (eq model.sub.source  "other")}}
                <td><i>This submission did not originate from PASS.</i></td>
              {{else}}
                <td>{{model.sub.aggregatedDepositStatus}}</td>
              {{/if}}
            </tr>
            <tr>
              <td>Grants</td>
              <td>
                <ul class="list-unstyled">
                  {{#each model.sub.grants as |grant|}}
                    <li><b>{{grant.awardNumber}}</b>: {{grant.projectName}}</li>
                    <li><b>Funder</b>: {{grant.primaryFunder.name}}</li>
                    {{#if (not-eq grant model.sub.grants.lastObject)}}
                      <hr>
                    {{/if}}
                  {{/each}}
                </ul>
              </td>
            </tr>
            <tr>
              <td class="text-nowrap">Repositories</td>
              <td>
                <ul>
                  {{#each (await model.sub.repositories) as |repository index|}}
                    <li>{{repository.name}}</li>
                  {{/each}}
                </ul>
              </td>
            </tr>
            {{#if externalSubmission}}
            <tr>
              <td class="text-nowrap">External Submission Repositories</td>
              <td>
                <ul>
                  <li>Deposit into Educational Resources Information Center (ERIC) was prompted</li>
              </ul>
              </td>
            </tr>
            {{/if}}
            {{#if (not-eq model.sub.source  "other")}}
              <tr>
                <td>Deposits</td>
                <td>
                  <ul>
                    {{#each (search-associated 'deposit' 'submission' model.sub.id) as |deposit index|}}
                      <li>Deposit for {{await deposit.repository.name}} (<a href={{await deposit.repositoryCopy.accessUrl}}>{{await deposit.repositoryCopy.externalIds}}</a>)
                        <ul>
                          <li>Status: {{deposit.depositStatus}}</li>
                        </ul>
                      </li>
                    {{/each}}
                  </ul>
                </td>
              </tr>
            {{/if}}
            <td class="text-nowrap">Submitter</td>
            <td>
              {{#if (eq model.sub.source  "other")}}
                <i>This submission did not originate from PASS</i>
              {{else}}
                {{get (await model.sub.user) 'displayName'}}
                {{#if (get (await model.sub.user) 'institutionalId')}}
                  ({{get (await model.sub.user) 'institutionalId'}})
                {{/if}}
              {{/if}}
            </td>
            <tr>
              <td>Details</td>
              <td>
                <ul class="list-unstyled">
                  {{#each-in metadataBlobNoKeys as |key data|}}
                    {{!-- TODO: Look in to making the ifs in to one if --}}
                    {{#if (not-eq key 'Embargo')}}
                      {{#if (not-eq key 'Under-embargo')}}
                        {{#if (not-eq key 'Embargo-end-date')}}
                          {{#if (not-eq key 'Agreement-to-embargo')}}
                            {{#if (not-eq key 'Submission')}}
                              {{#if (eq key 'Author(s)')}}
                                <li><b>{{key}}</b>:
                                  <ul>
                                    {{#each data as |author|}}
                                      <li>{{author.author}}{{#if author.orcid}} (<a href={{author.orcid}} target="_blank">{{author.orcid}}</a>){{/if}}</li>
                                    {{/each}}
                                  </ul>
                                </li>
                              {{else}}
                                {{#if (eq key 'URL')}}
                                <li><b>{{key}}</b>: <a href={{data}} target="_blank">{{data}}</a></li>
                                {{else}}
                                <li><b>{{key}}</b>: {{{data}}}</li>
                                {{/if}}
                              {{/if}}
                            {{/if}}
                          {{/if}}
                        {{/if}}
                      {{/if}}
                    {{/if}}
                  {{/each-in}}
                </ul>
              </td>
            </tr>
            <tr>
              <td>Files</td>
              <td>
                {{#if (eq model.sub.source  "other")}}
                <p>
                  <i>We do not have a copy of manuscript files because this submission did not originate from PASS</i>
                </p>
                {{else}}
                  <p class="text-right mb-1"><i class="fas fa-info-circle text-gray"></i><i><small>Hover over text for full text</small></i></p>
                  <div class="container-fluid">
                    {{#each (get model 'files') as |file|}}
                    <a href={{file.uri}}>
                      <div class="row file mb-1">
                        <div class="col-md-1 p-1 pl-3">
                          {{#if (eq file.mimeType 'png')}}
                            <i class="fas fa-file-image fa-30 line-height-35"></i>
                          {{else if (eq file.mimeType 'vnd.openxmlformats-officedocument.presentationml.presentation')}}
                            <i class="fas fa-file-powerpoint fa-30 line-height-35"></i>
                          {{else if (eq file.mimeType 'msword')}}
                              <i class="fas fa-file-word fa-30 line-height-35"></i>
                          {{else if (eq file.mimeType 'pdf')}}
                              <i class="fas fa-file-pdf fa-30 line-height-35"></i>
                          {{else}}
                            <i class="far fa-file fa-30 line-height-35"></i>
                          {{/if}}
                        </div>
                        <div class="col-md-5 line-height-50 pl-0" data-toggle="tooltip" data-placement="top" title={{file.name}}>
                          {{file.name}}
                        </div>
                        <div class="col-md-2 line-height-50">
                          {{file.fileRole}}
                        </div>
                        <div class="col-md-4 line-height-50" data-toggle="tooltip" data-placement="top" title={{file.description}}>
                          {{file.description}}
                        </div>
                      </div>
                    </a>
                    {{else}}
                    <div class="text-center">No files found</div>
                    {{/each}}
                  </div>
                {{/if}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
