<style>
  .document-item::after {
    content: 'file';
    content: attr(filetype);
    text-align: right;
    padding: 2px;
    background-color: #536c79;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .fa-30 {
    font-size: 30px;
  }

  .file-icon {
    padding: 5px;
    width: 100px;
    height: 110px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
  }

  .text-overflow {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: pre-wrap;
    height: 25px;
    margin-bottom: 3px;
  }

  table td {
    border: 1px dotted silver;
    word-break: break-all;
  }

  .min-review-type-width {
    min-width: 100px;
  }

  .manuscriptTag {
    position: absolute;
    top: 22px;
    right: 44%;
  }
</style>
<h1 class="font-weight-light">Submission Detail</h1>
{{#link-to 'submissions' class="btn btn-pill btn-outline-secondary mb-2"}}<i class="fa fa-arrow-left"></i>&nbsp;Back{{/link-to}}
<div class="form-group row">
  <div class="col-md-12">
    <div class="list-group">
      <div href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"> {{model.title}}</h5>
          <small class="text-muted">{{model.dateSubmitted}}<br>{{model.dateCreated}}</small>
        </div>
        <p class="mb-1">{{model.doi}}</p>
        <small class="text-muted">Volume: {{model.volume}} / Issue: {{model.issue}}</small>
        <table class="table table-responsive-sm table-bordered w-100">
          <thead>
            <tr>
              <th class="min-review-type-width">Type</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Status</td>
              <td>{{model.status}}
              </td>
            </tr>
            <tr>
              <td>abstract</td>
              <td>{{model.abstract}}
              </td>
            </tr>
            <tr>
              <td>Journal</td>
              <td>{{get (await model.journal) 'name'}}
              </td>
            </tr>
            <tr>
              <td>Grants</td>
              <td>
                <ul class="list-unstyled">
                  {{#each model.grants as |grant|}}
                    <li><b>{{grant.awardNumber}}</b> : {{grant.projectName}}</li>
                  {{else}}
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                  {{/each}}
                </ul>
              </td>
            </tr>
            <tr>
              <td class="text-nowrap">Repositories</td>
              <td>
                <ul>
                  {{#each model.deposits as |deposit|}}
                  <li>{{get (await deposit.repository) 'name'}}</li>
                  <ul>
                    <li>Status: {{deposit.status}}</li>
                    <li>Required: {{deposit.isRequired}}</li>
                  </ul>
                {{else}}
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw text-center"></i>
                {{/each}}
              </ul>
              </td>
            </tr>
            <tr>
              <td>Metadata</td>
              <td>
                <ul class="list-unstyled">
                  {{!-- TODO This could probably be done with less loops look back at it --}}
                  {{#each-in model.metadata as |index value|}}
                    <li>
                      <br>
                      <h5 class="font-weight-light"><span class="text-uppercase">{{index}}</span></h5>
                      <hr class="mb-1 mt-1">
                      {{#if (eq index 'ed')}}
                        The Department of Education requires submission through their submission portal. <i>Pass can not submit for you.</i> You can submit to ED at <a href="https://eric.ed.gov/submit/" target="_blank">eric.ed.gov/submit/</a>
                      {{/if}}
                      <ul class="list-unstyled">
                        {{#each-in value.data as |key data|}}
                          <li><b>{{key}}</b>: {{data}}</li>
                        {{/each-in}}
                      </ul>
                    </li>
                  {{/each-in}}
                </ul>
              </td>
            </tr>
            <tr>
              <td>Files</td>
              <td>
                {{#each model.files as |file|}}
                  <div class="card file-icon text-center">
                    {{#if file.isManuscript}}
                      <span>
                        <i class="fa fa-star manuscriptTag"></i>
                      </span>
                    {{/if}}
                    <i class="fa fa-file-o fa-30 pt-2"></i>
                    <p class="text-overflow">{{file.file.name}}</p>
                    <span class="document-item" filetype="{{file.type}}"></span>
                  </div>
                {{/each}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
