<div class="d-flex justify-content-between row my-3 mx-auto">
  <h1 class="font-weight-light pt-1">
    Submissions
  </h1>
  {{#if this.currentUser.user.isSubmitter}}
    <div>
      <LinkTo @route="submissions.new" @query={{hash grant=null submission=null}} class="btn btn-primary">
        Create new submission
      </LinkTo>
    </div>
  {{/if}}
</div>
<p>
  This list contains all Submissions that you have initiated through PASS. If you have an NIH grant, it may also contain
  pre-loaded information about incomplete, in-progress, or completed Submissions to PubMed Central that cite a grant for
  which you are the PI.
  {{#if this.faqUrl}}
    Find out more about these pre-loaded NIH submissions on the
    <a href="{{this.faqUrl}}#nih-submissions">
      FAQ page
    </a>
  {{/if}}
</p>
<div class="row">
  <div class="col-12 table-container">
    <div class="submission-table" data-test-submissions-index-submissions-table>
      <ModelsTableServerPaginated
        @data={{this.model.submissions}}
        @columns={{this.columns}}
        @themeInstance={{this.themeInstance}}
        @showColumnsDropdown={{false}}
        @useFilteringByColumns={{false}}
        @filteringIgnoreCase={{true}}
        @multipleColumnsSorting={{false}}
        @authorSelected="authorclick"
        @pageSize={{this.model.submissions.meta.page.limit}}
        @pageSizeValues={{this.tablePageSizeValues}}
        @currentPageNumber={{this.page}}
        @itemsCount={{this.itemsCount}}
        @pagesCount={{this.pagesCount}}
        @filterString={{this.filter}}
        @filterQueryParameters={{this.filterQueryParameters}}
        @doQuery={{this.doQuery}}
        @onDisplayDataChanged={{this.displayAction}}
      />
    </div>
  </div>
</div>
<MessageDialog
  @show={{this.messageShow}}
  @to={{this.messageTo}}
  @subject={{this.messageSubject}}
  @message={{this.messageText}}
/>