{{! takes in a schema and the model to save the schema to}}
<div {{did-insert (perform this.setupSchema)}}>

  {{#if this.missingRequiredJournal}}
    <h2>Missing required journal</h2>
    <p>
      A repository requires information about the journal associated with the submission. Please
      <LinkTo @route="submissions.new.basics">go back and enter a journal</LinkTo>.
    </p>
  {{else}}
    {{#if this.schema}}
      <MetadataForm
        @schema={{this.schema}}
        @data={{this.metadata}}
        @next={{this.next}}
        @onSurveyReady={{this.onSurveyReady}}
      />
    {{/if}}
  {{/if}}
</div>

{{yield}}

<button class="btn btn-outline-primary" data-test-workflow-metadata-back type="button" {{on "click" this.back}}>
  Back
</button>
<button class="btn btn-outline-danger ml-2" data-test-workflow-metadata-cancel type="button" {{on "click" this.cancel}}>
  Cancel
</button>
<button class="btn btn-primary next pull-right" type="button" {{on "click" this.handleExternalSubmit}}>
  Next
</button>