{{! template-lint-disable link-rel-noopener no-curly-component-invocation no-implicit-this }}
<li>
  <div class="card float-start col-5 mr-3 mb-0">
    <div class="card-body sub-status">
      <div class="row card-title">
        {{#if @repo.url}}
          <a href={{@repo.url}} target="_blank">{{@repo.name}}</a>
        {{else}}
          {{@repo.name}}
        {{/if}}
      </div>
      <p class="card-text">
        <div class="row">
          <strong class="col-5 px-0">Deposit status: </strong>
          {{#unless this.isExternalRepo}}
            <div class="col">
              {{#if this.tooltip}}
                <span class="{{this.status}}" tooltip-position="left" tooltip="{{this.tooltip}}">
                  <i class="fas fa-info-circle deposit-status-icon"></i>
                  {{#if (eq this.status "not-submitted")}}
                    n&#47;a
                  {{else}}
                    {{this.status}}
                  {{/if}}
                </span>
              {{else}}
                <span class="{{this.status}}">
                  <i class="fas fa-circle deposit-status-icon"></i>
                  {{this.status}}
                </span>
              {{/if}}
            </div>
          {{/unless}}
        </div>
        <hr class="my-2" />
        <RepocopyDisplay @repoCopy={{@repoCopy}} />
      </p>
    </div>
  </div>
</li>