<div class="site">
  <header class="navbar navbar-expand-xs justify-content-center mb-0" style="background:#002D72">
    <div class="container">
        {{#link-to "index" class="navbar-brand custom-color d-none d-sm-block"}}
          <h2 class="font-weight-light" >
            P<span class="font-weight-light h5">ublic</span>
            A<span class="font-weight-light h5">ccess</span>
            S<span class="font-weight-light h5">ubmission</span>
            S<span class="font-weight-light h5">ystem</span>
          </h2>
        {{/link-to}}
        {{#link-to "index" class="navbar-brand custom-color d-xs-block d-sm-none"}}<h2 class="font-weight-light">P.A.S.S.</h2>{{/link-to}}
        <img src='{{rootURL}}logo.png' alt='Logo' class="nav-item d-sm-down-none pull-right">
  </div>
  </header>
  <!-- nav -->
  <nav class="navbar navbar-light navbar-expand-md">
    <div class="container">
      <button class="navbar-toggler text-center border-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav" style="width:100%">
        <li class="nav-item">{{#link-to 'dashboard' class='nav-link pl-0'}}Home{{/link-to}}</li>
        <li class="nav-item">{{#link-to 'grants' class="nav-link"}}Grants{{/link-to}}</li>
        <li class="nav-item">{{#link-to 'submissions' class="nav-link"}}Submissions{{/link-to}}</li>
        <li class="nav-item">{{#link-to 'about' class='nav-link'}}About{{/link-to}}</li>
        <li class="nav-item pull-right">{{#link-to 'contact' class='nav-link borderless'}}Contact{{/link-to}}</li>


        {{#if session.authenticated}}
          <li class="nav-item dropdown ml-auto">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="https://image.ibb.co/c8rxhx/bell_png_bell_icon_image_16624_512.png" style="width:20px" alt="admin@bootstrapmaster.com">
              <span class="badge badge-pill badge-danger">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-header text-center">
                <strong>Notifications</strong>
              </div>
              <a class="dropdown-item" href="#"><span class="badge badge-pill badge-danger">1</span>Submssion</a>
              <a class="dropdown-item" href="#"><span class="badge badge-pill badge-danger">1</span>Submssion</a>
              <a class="dropdown-item" href="#"><span class="badge badge-pill badge-danger"></span>Change requirements</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="https://image.ibb.co/emCsFH/123.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
              {{session.user.username}} ({{session.user.role}})
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-header text-center">
                <strong>Account</strong>
              </div>
              <div class="divider"></div>
              <a class="dropdown-item" href="#"  {{action 'logout'}}><i class="fa fa-lock"></i>Logout</a>
            </div>
          </li>
        {{else}}
        <li class="nav-item dropdown ml-auto">
          <a class="dropdown-item" href="#"  {{action 'logout'}}><i class="fa fa-lock"></i>Login</a>
        </li>
        {{/if}}

      </ul>
    </div>
    </div>
  </nav>


  <div class="container site-content">
    {{institution}}
    {{outlet}}
  </div>

  {{! Footer}}


  <footer class="app-footer justify-content-center mt-3">
    {{!-- <span><a href="http://coreui.io">CoreUI</a> © 2018 creativeLabs.</span>
    <span class="ml-auto">Powered by <a href="http://coreui.io">CoreUI</a></span> --}}
    <div class='text-center p-1'>
      <small>Making Public Access Policy compliance easier.</small>
      <br>
      <small>rev. {{app-version hideVersion=true}}</small>
    </div>
  </footer>
</div>
