<div class="site" style="z-index:0;">
  <header class="primary-skin navbar navbar-expand-xs justify-content-center mb-0">
    <div class="container">
        {{#link-to "index" class="navbar-brand custom-color d-none d-sm-block"}}
          <h3 class="font-weight-light" >
            Public Access Submission System
          </h3>
        {{/link-to}}
        {{#link-to "index" class="navbar-brand custom-color d-xs-block d-sm-none"}}
          <h3 class="font-weight-light">P.A.S.S.</h3>
        {{/link-to}}
        <img src='{{rootURL}}fullSizeLogo.png' alt='Logo' class="nav-item d-sm-down-none pull-right jhu-logo">
  </div>
  </header>
  <div style="z-index:10000;">
    {{#sticky-element}}
      {{nav-bar}}
    {{/sticky-element}}
  </div>
  <div class="container site-content">
    {{institution}}
    {{outlet}}
  </div>

  {{! Footer}}


  <footer class="app-footer justify-content-center mt-3">
    {{!-- <span><a href="http://coreui.io">CoreUI</a> © 2018 creativeLabs.</span>
    <span class="ml-auto">Powered by <a href="http://coreui.io">CoreUI</a></span> --}}
    <div class='text-center p-1'>
      <small>Making Public Access Policy compliance easier.</small>
      <br>
      <small>rev. {{app-version hideVersion=true}}</small>
    </div>
  </footer>
</div>
