<header class="app-header navbar justify-content-center" style="background:#002D72">
  <div class="col-10">
    {{#link-to "index" class="navbar-brand unset-width custome-color mt-1"}}
      <h2 class="font-weight-light" >
        P<span class="font-weight-light h5">ublic</span>
        A<span class="font-weight-light h5">ccess</span>
        S<span class="font-weight-light h5">ubmission</span>
        S<span class="font-weight-light h5">ystem</span>
      </h2>
    {{/link-to}}
      <img src='{{rootURL}}logo.png' alt='Logo' class="nav-item d-md-down-none pull-right">
  </div>
</header>
<!-- nav -->
<nav class="justify-content-center text-center bg-gray-100 pt-1 pb-1 mb-4 d-md-down-none">
  <ol class="nav col-10 d-inline-flex">
    <li class="nav-item">{{#link-to 'dashboard' class='nav-link'}}Home{{/link-to}}</li>
    <li class="nav-item">{{#link-to 'grants' class="nav-link"}}Grants{{/link-to}}</li>
    <li class="nav-item">{{#link-to 'submissions' class="nav-link"}}Submissions{{/link-to}}</li>
    <li class="nav-item">{{#link-to 'about' class='nav-link'}}About{{/link-to}}</li>
    <li class="nav-item">{{#link-to 'contact' class='nav-link borderless'}}Contact{{/link-to}}</li>

    <li class="nav-item ml-auto">
        {{#if session.authenticated}}
          <span class="navbar-text ml-5">
            {{!-- Logged in as: --}}
            <span class='text-info'>
              {{session.user.username}} ({{session.user.role}})
            </span>
          </span>
          <button {{action 'logout'}} class="btn btn-warning btn-sm ml-2">Logout</button>
        {{/if}}
    </li>
  </ol>
</nav>
{{!-- mobile nav --}}
<nav class="navbar navbar-default bg-gray-100 d-lg-none d-md-down-block justify-content-center text-center bg-gray-100 mb-4">
  <div class="container-fluid col-10">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed btn btn-link transform-text text-muted" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        |||
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item">{{#link-to 'dashboard' class='nav-link'}}Home{{/link-to}}</li>
        <li class="nav-item">{{#link-to 'grants' class="nav-link"}}Grants{{/link-to}}</li>
        <li class="nav-item">{{#link-to 'submissions' class="nav-link"}}Submissions{{/link-to}}</li>
        <li class="nav-item">{{#link-to 'about' class='nav-link'}}About{{/link-to}}</li>
        <li class="nav-item">{{#link-to 'contact' class='nav-link borderless'}}Contact{{/link-to}}</li>
        <li class="nav-item">
            {{#if session.authenticated}}
              <span class="navbar-text">
                {{!-- Logged in as: --}}
                <span class='text-info'>
                  {{session.user.username}} ({{session.user.role}})
                </span>
              </span>
              <button {{action 'logout'}} class="btn btn-warning btn-sm ml-2">Logout</button>
            {{/if}}
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class='container-fluid'>
  {{outlet}}
</div>

{{! Footer}}
<div class='container mt-4'>
  <p class='text-center'>
    <small>Making Public Access Policy compliance easier.</small>
  </p>
  <p class='text-center'>
    <small>rev. {{app-version hideVersion=true}}</small>
  </p>
</div>
