
<header class="container-fluid">
  <div class="row align-items-center">
    <div class="pass-title mr-auto">
      <h1>PASS</h1>
      <span>Public Access Submission System</span>
    </div>
    {{#link-to 'index' class='navbar-brand'}}
      <img src='{{rootURL}}logo.png' alt='Logo' >
    {{/link-to}}
  </div>
  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {{#link-to 'dashboard' class='nav-link'}}Home{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'grants' class="nav-link"}}Grants{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'submissions' class="nav-link"}}Submissions{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'about' class='nav-link'}}About{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'contact' class='nav-link borderless'}}Contact{{/link-to}}
      </li>
    </ul>

    {{#if session.authenticated}}
      <span class="navbar-text ml-5">
        {{!-- Logged in as: --}}
        <span class='text-info'>
          {{session.user.username}} ({{session.user.role}})
        </span>
      </span>

      <button {{action 'logout'}} class="btn btn-warning btn-sm ml-2">Logout</button>
    {{/if}}
  </nav>
</header>

<div class='container-fluid'>
  {{outlet}}
</div>

{{! Footer}}
<div class='container mt-4'>
  <p class='text-center'>
    <small>Making Public Access Policy compliance easier.</small>
  </p>
  <p class='text-center'>
    <small>rev. {{app-version hideVersion=true}}</small>
  </p>
</div>
