{{! template-lint-disable no-inline-styles require-valid-alt-text }}
{{! template-lint-disable no-curly-component-invocation }}
{{! template-lint-disable no-implicit-this }}
<div id="brand-site-container" class="site" style="z-index:0;">
  <header id="brand-header" class="navbar navbar-expand-xs justify-content-center mb-0">
    <div class={{if this.fullWidth "container-fluid" "container"}}>
      <a href="/" class="navbar-brand d-none d-sm-block">
        <h3 id="brand-header-title" class="font-weight-light">
          Public Access Submission System
        </h3>
      </a>
      <a href="/" class="navbar-brand custom-color d-xs-block d-sm-none">
        <h3 class="font-weight-light">
          P.A.S.S.
        </h3>
      </a>
      {{#if this.logoUri}}
        <a href="{{this.homepage}}">
          <img
            id="brand-logo"
            src="{{this.logoUri}}"
            alt="Logo"
            class="nav-item d-sm-down-none pull-right brand-logo pr-0"
          />
        </a>
      {{/if}}
    </div>
  </header>
  {{#if this.showNoticeBanner}}
    <NoticeBanner contactUrl={{this.contactUrl}} />
  {{/if}}
  <div style="z-index:10;">
    <NavBar @fullWidth={{this.fullWidth}} />
  </div>
  <div class="container-fluid site-content">
    <div class="flash-message-container">
      {{#each this.flashMessages.queue as |flash|}}
        <FlashMessage @flash={{flash}} as |component flash close|>
          <div class="d-flex justify-content-between">
            {{flash.message}}
            <span role="button" {{on "click" close}}>
              x
            </span>
          </div>
        </FlashMessage>
      {{/each}}
    </div>

    {{this.institution}}
    {{outlet}}
  </div>
  <footer class="app-footer justify-content-center mt-3">
    <div class="text-center p-1">
      {{#if this.contactUrl}}
        <small>
          Interested in making PASS even better? Want to have PASS for your institution?
          <a href="{{this.assetsUri}}contact.html">
            Contact us!
          </a>
        </small>
      {{/if}}
      <br />
      <small>
        rev.&nbsp;{{app-version hideVersion=true}}
      </small>
    </div>
  </footer>
</div>